[2017-08-25 09:09] OwenMelbz opened #12 "Custom commands not showing"
Hi, loving the idea of this package so wanted to give it a go.

We've got around 15 custom commands which are registered in the `Console/Kernel.php` and we run via the normal laravel scheduler.

However none of these commands are showing on the Totem create task screen.

Is there something we need to do to make these show?

Thanks

[2017-08-25 09:41] Rishats opened #13 "[Request] Translate to Russian language"
Hello! I can translate some pages into Russian! Do you need this?

[2017-08-25 12:37] gabriel-caruso opened #15 "[Question/Proposal] PHPDocs return for constructs methods"
Folks, all the constructs methods don't have the return docs. Is it on purpose, or should we make it?

[2017-08-25 14:32] roshangautam commented on #13
The only lang file we currently have is for messages. To be able to use proper translations we will have to use lang files for everything that should translatable including form field labels, placeholders and other text. I will be more than happy to review and merge any changes, if you are up for that.

[2017-08-25 14:33] roshangautam commented on #15
Thanks for the pull request @gabriel-caruso . Its merged. Appreciate your help.

[2017-08-25 14:33] #15 closed

[2017-08-25 14:46] roshangautam commented on #12
Thanks for pointing this out.

Reason : Totem overrides Laravel's core Console kernel which means the Console Kernel residing in your app/Console folder is no longer valid. This leaves us to the question , how do we register commands. You can do it in two different ways:

1. Move your commands variables to your app/Providers/AppServiceProvider and in the register method add the following

[code]

[2017-08-26 18:51] decadence opened #17 "Class does not exist"
I created task via Totem and was trying to run it and I got:
![screenshot_1](https://user-images.githubusercontent.com/1434668/29744188-88ccaaa2-8aa8-11e7-9a4c-447f1efdfce8.png)

[2017-08-27 01:27] roshangautam commented on #17
This issue has been fixed in refactor/notifications branch. I will tag another alpha release as soon as am done working on a few more enhancements.

[2017-08-27 05:14] roshangautam commented on #17
A new alpha [release](https://github.com/codestudeo/laravel-totem/releases/tag/v0.4.0) has been tagged. Please upgrade accordingly to get this issue resolved.

[2017-08-27 05:14] #17 closed

[2017-08-27 09:18] decadence commented on #17
@roshangautam now I have update issue
![screenshot_2](https://user-images.githubusercontent.com/1434668/29748562-c5276194-8b21-11e7-9423-c26ed728ec57.png)

[2017-08-27 11:30] skynet32rus opened #21 "Class App\Http\Controllers\DashboardController does not exist"
???

[2017-08-27 14:28] roshangautam commented on #17
Sorry about that, just tagged another alpha with a less firm dependencies such as the package can be installed in L5.4 and above. Please try updating and see what happens.

[2017-08-27 17:50] royalwang opened #22 ""EXECUTE" button's link is 404"
我的本地测试地址是http://localhost/laravel-blog/public/totem/tasks/4 ，程序运行在子目录下。但是点击“执行”按钮所请求的地址是http://localhost/totem/tasks/4/execute 。其他位置的链接点击都正常，就这个“执行”按钮点击时404。

[2017-08-27 18:15] roshangautam commented on #22
Thanks for reporting. This is definitely an issue when Laravel is installed in a subdirectory.

[2017-08-28 00:50] roshangautam commented on #21
This has been resolved in latest alpha. Please update as per the release notes.

[2017-08-28 00:50] #21 closed

[2017-08-28 00:51] roshangautam commented on #12
@OwenMelbz : did you get your issue resolved ?

[2017-08-28 00:55] #22 closed

[2017-08-28 01:04] roshangautam commented on #22
Please update to latest alpha. Dont forget to run `php artisan totem:assets`.

[2017-08-28 07:20] OwenMelbz commented on #12
Not yet, will be back at work tomorrow so can have a look then :)

[2017-08-28 07:40] mortenscheel opened #24 "What happens to regular scheduled tasks?"
Hi.
I was a bit confused about the scope of this package. It wasn't clear to me that it would completely take over my schedule, and ignore scheduled tasks defined in app/Console/Kernel.php.

[2017-08-28 12:29] vonec commented on #12
please do asap 👍

[2017-08-28 13:21] roshangautam commented on #24
I understand the feeling but currently the only way is to move your scheduled tasks to dashboard. The whole point of using a dashboard is to be able to schedule commands from a web browser. I am trying to find a way where you can also use the traditional Laravel way of scheduling tasks along with totem. Stay tuned :)

[2017-08-28 13:32] roshangautam commented on #12
Thanks for the feedback @vonec

5.4 requires command registration for it to work. Also horizon requires 5.5 and above as far as I know.

Are you trying to say all the traditionally scheduled tasks should be added automatically ?

All scheduled tasks actually run through Laravel's scheduler as they would if scheduled traditionally. As far as I know Laravel do no have a timeout or max duration for l

[2017-08-28 14:10] vonec commented on #12
Horizon runs on laravel 5.4 :)

Not all the traditional tasks , i had to include the Horizon task manually to get it to the select box, there could be a manual input too for custom commands

i have a long running task that takes around 30 minutes to complete, i executed it manually, it worked well, but  AVERAGE RUNTIME is 0
--

[2017-08-28 19:20] roshangautam commented on #12
@vonec did you try refreshing the page ? The execute button makes an xhr request and currently doesn't refresh the page after completion.

[2017-08-28 21:25] roshangautam commented on #24
@mortenscheel , Tasks can now be scheduled traditionally in addition from totem dashboard. Please update to the latest alpha. Don't forget to run `php artisan totem:assets` once you are done updating.

Thanks for the feedback and trying this package. Appreciate it.

[2017-08-28 21:28] roshangautam commented on #12
@OwenMelbz . The new changes now let you schedule tasks traditionally from app/Console/Kernel.php in addition from Totem's dashboard. Also commands registered in app/Console/Kernel should show in the select list without any additional work as suggested before. Please update to latest alpha for the changes. Don't forget to republish totem assets after updating.

[2017-08-28 22:01] mortenscheel commented on #24
Awesome. Thanks.

[2017-08-29 03:47] vonec commented on #12
sure will update :)

[2017-08-29 04:04] vonec commented on #12
I updated the package and here are my test results

Good: Add New Task has all the hints it required.

Bad: We moved our custom commands back to App/Console/Kernel but they are not yet visible in the dropdown ... I have published the assets.

[2017-08-29 14:28] OwenMelbz commented on #12
@roshangautam I can confirm with version `v0.7.0` we're also not seeing custom commands that use the default laravel registration system

[2017-08-29 17:57] roshangautam commented on #12
Can you guys please try master branch and see what happens ? Just pushed a change to make this work. @OwenMelbz @vonec

Thanks

[2017-08-29 18:21] mrmonat commented on #12
@roshangautam I had the same issue, with "dev-master" it works like expected.

[2017-08-29 18:43] roshangautam commented on #12
Thanks @mrmonat . I am refactoring a bit more , once done I will tag another alpha.

[2017-08-30 06:08] vonec commented on #12
just to add it up why are there so many info logs ? cant that be disabled through config

[2017-08-30 11:32] mrmonat opened #27 "Output of executed commands"
Will there be support for displaying the output of the executed commands?

[2017-08-30 13:00] roshangautam commented on #12
Thanks for reporting. The logs should unlink once after the task has executed. I will check whats going on.  Also closing this issue as the original issue is now resolved in master branch. Please open a new issue for any other questions or problems.

Thanks.

[2017-08-30 13:01] roshangautam commented on #27
Yes, there will be. Needs some work in frontend. Output is already being stored in database for each execution.

[2017-08-30 14:49] #24 closed

[2017-08-30 23:29] alexstone commented on #12
I'm currently in 5.5 and the custom commands are still not showing up in the task create list

[2017-08-30 23:38] roshangautam commented on #12
@alexstone Just tagged a new alpha. Please update to receive changes regarding custom commands.

[2017-08-31 00:01] alexstone commented on #12
@roshangautam I got my commands to show up when I manually register them. But in 5.5, the auto-registered commands still don't show up in the list. Any ideas? For context, I upgraded from 5.4 to 5.5. My commands all appear in the console when I do `php artisan list`.

[2017-08-31 01:00] roshangautam commented on #12
I have opened an [issue](https://github.com/laravel/internals/issues/770) in laravel/internals.  In the mean time I will add a custom Kernel to handle this in totem. This shouldn't effect other functionalities.

[2017-08-31 01:17] roshangautam commented on #12
@alexstone can you please pull in the master branch and try this again. I have made some changes to make this work.

[2017-08-31 16:16] roshangautam commented on #27
You can now view output of each execution on the view page. Click on the ellipsis next to the execution. This is available in master branch

[2017-08-31 16:16] #27 closed

[2017-08-31 16:17] roshangautam commented on #12
This should be working fine in master branch.

[2017-08-31 16:17] #12 closed

[2017-08-31 19:56] alexstone commented on #12
Confirming that it works! Thank you!

[2017-09-01 13:39] aik099 opened #28 "Improve "Illuminate\Console\Scheduling\Schedule" configuration"
Right now in the `\Studio\Totem\Providers\ConsoleServiceProvider::register` method the `booted` event is being listened and then app is run in console, then new schedules are added into application.

Proposing to simplify this by:

1. using `\Studio\Totem\Providers\ConsoleServiceProvider::boot` method instead of `\Studio\Totem\Providers\ConsoleServiceProvider::register` method
2. do the `$this->ap

[2017-09-01 16:42] roshangautam commented on #28
Thanks @aik099 . I will look into this. Definitely sounds like an improvement.

[2017-09-01 17:14] roshangautam commented on #28
Have you tried this ? For some reason resolving callback is not triggered for Illuminate\Console\Scheduling\Schedule.

[2017-09-02 12:14] aik099 commented on #28
I haven't tried that myself. Are you doing `$this->app->resolving(...` in the `boot` method of your service provider?

[2017-09-02 12:31] roshangautam commented on #28
Yup, tried it in boot method. Looks like the Schedule class is not resolved until its required. Will have to dig deeper to figure out whats going on.

[2017-09-02 14:49] aik099 commented on #28
Debugging revealed, that `resolving` callback is only called when doing `Container::make` method. Unfortunately schedule is created from instance in `\Illuminate\Foundation\Console\Kernel::defineConsoleSchedule` method:

[code]

If that could would be written differently, e.g. via `singleton` method, then probably the `resolving` callback would have been called.

[2017-09-02 14:57] aik099 commented on #28
Replacing above code (in Laravel core) with this one does the trick:

[code]

I'll try sending PR into Laravel 5.5

[2017-09-02 15:20] aik099 commented on #28
At least you can simplify existing code (would work the same way, but look better) by moving code from `booted` callback into `boot` method of the service provider.

[2017-09-03 00:14] roshangautam commented on #28
This is really nice. I guess I will have to maintain two separate branches for 5.4 and 5.5 as I dont think this will be merged to 5.4 branch. Thanks for your insight and help. I might use your expertise in one another issue I am facing [here](https://github.com/laravel/horizon/issues/112)

[2017-09-03 08:51] aik099 commented on #28
Since 5.5 is already released, then my change would only be in 5.5.x release. So having 2 branches won't really do the trick.

Maybe you'll have to do some feature detection and decide which code to run.

[2017-09-05 18:58] gbdematos opened #31 "Beautiful theme"
I loved the UIKit theme used for this package. Any way to release it separately from laravel-totem?

[2017-09-05 19:02] roshangautam commented on #31
I have plans to work on a laravel presets package including uikit, semanticui, bootstrap4, mdc-web etc. No ETAs though.

[2017-09-05 19:02] #31 closed

[2017-09-07 11:46] riverrun46 opened #32 "[Proposal] Implement the search field in task list page"
Right now the search field in the index page has not been implemented yet.

Also I think disable/enable buttons in the list page might be useful. Right now they are in the detail page, but I think it would be a little bit inconvenient.

What do you think?

[2017-09-08 18:24] andrewwindfall opened #33 "Cron Job not running totem commands"
I am running Laravel 5.5
I have a cron job set to run every min at:
php /complete/path/to/app/artisan schedule:run >/dev/null 2>&1

It only runs commands set in the app/console/kernel.php
I can test this with the inspire command, and it works fine but never runs the tasks in totem.

When I run php artisan schedule:run via ssh, it runs the tasks set in totem as well as in kernel.php.
Php artisan sc

[2017-09-08 19:46] roshangautam commented on #33
Just tested this in a fresh installation of L5.5. Its working fine. Make sure your cron is setup correctly. What operating system are you testing this on ?

Also make sure you are on the latest version of totem.

[2017-09-08 19:48] roshangautam commented on #32
Adding enable/disable in the list page sounds like a good idea but I am planning to get rid of the search text box for now. I am redoing the interface in MDC Web and will include this in the new UI.

[2017-09-09 21:41] alexstone opened #35 "Please change the "Execute" icon to something that isn't a gear"
Gear typically means "Setting(s)" or "edit" and I've accidentally executed tasks on accident when I meant to edit them.

[2017-09-09 21:43] roshangautam commented on #35
Any icon suggestion ?

[2017-09-09 21:46] alexstone commented on #35
Play button, maybe?

[2017-09-10 07:46] vesper8 opened #36 "command filter and easy import/export"
I just took my first look at your package. Great work on the UI and the level of customizability!

I think it would be nice to have an easy means of importing and exporting lists of scheduled commands. Otherwise it seems a bit awkward to design all your schedules on dev and then port them over to production. This is normally very straightforward when commands are committed to code but not so clear

[2017-09-10 21:29] vesper8 commented on #36
I've gone ahead and added the command filter functionality in my app.. here's the modifications I made

/config/totem.php:
[code]

TasksController:
[code]

[2017-09-11 00:39] roshangautam commented on #36
Thanks @vesper8 . This looks useful. I will refactor and incorporate this in next release.

[2017-09-12 03:45] roshangautam commented on #28
I have incorporated the changes in latest releases for both 5.4 and 5.5 branches. Thanks for all your help @aik099.

[2017-09-12 03:45] #28 closed

[2017-09-12 03:45] roshangautam commented on #35
@alexstone This has been changed in latest release.

[2017-09-12 03:45] #35 closed

[2017-09-12 03:46] roshangautam commented on #33
@andrewwindfall still having problems ?

[2017-09-13 16:23] andrewwindfall commented on #33
Yes, not sure where to troubleshoot from here. Odd that totem can see its tasks and run its tasks just fine via web browser. And odd that ssh artisan command can run all kernel tasks and totem tasks. Yet the cron running the exact same command can only run kernel tasks.

The server is running apache 5.6.35. I thought that Auth might be the issue, so I removed it from the boot function in my AppSer

[2017-09-13 17:44] roshangautam commented on #33
I've tested this in both 5.4 and 5.5 vanilla installations and its working fine. Also latest apache is 2.4, I believe you are trying to say php 5.6 ? Also L5.5 only support php 7.0 and up. Are you trying this in an existing laravel application or vanilla laravel instance ?

[2017-09-13 18:02] andrewwindfall commented on #33
php version 7.1.9 new laravel application. This package was auto-discovered by 5.5

[2017-09-13 18:06] roshangautam commented on #33
whats your development environment and how are you configuring your cron job ?

[2017-09-13 20:33] andrewwindfall commented on #33
Running Composer self-update via SSH and then composer update fixed this issue thanks to suggestions from @roshangautam. Composer version on the server was out of date.

[2017-09-13 20:35] #33 closed

[2017-09-15 06:07] vonec commented on #36
is this done ?

[2017-09-15 21:33] Arkanius opened #39 "[TESTS] SQLite can't run migrations of totem"
Laravel has some problem with various itens in down method of migrations. One example of it is when you're trying to run tests in memory with SQLite.

I know  that's really strange; but, I just installed Totem and all my tests stop passing accusing the same migration problem:

**"Caused by Doctrine\DBAL\Driver\PDOException: SQLSTATE[HY000]: General error: 1 no such
column: notification_phone_numbe

[2017-09-15 21:44] roshangautam commented on #39
Weird, my tests never fail and I use sqlite for testing as well. Also, you are not required to run totem tests unless you are developing something for totem. Can you help me understand how are totem tests triggering from your application ?

[2017-09-15 21:52] Arkanius commented on #39
The problem is not about running tests of Totem, I published the vendor of Totem, so, I ran migration to create its tables. Now, my tests are trying to create the table of Totem. That's how I got this problem.

[2017-09-15 21:54] roshangautam commented on #39
Got it. I will merge your pull request.

[2017-09-16 03:44] #39 closed, assigned to nobody

[2017-09-19 20:56] qschmick opened #41 "Syntax errors"
While attempting to add the package to my project I received these issues.
`unexpected '->' (T_OBJECT_OPERATOR)` AND `syntax error, unexpected '('`.

Steps taken:
* Ran `composer require studio/laravel-totem`
* Added `Studio\Totem\Providers\TotemServiceProvider::class,` to app/config.php
* Attempted to run `artisan migrate`

[code]

Line causing error:
`return (CronExpression::factory($event->expr

[2017-09-20 13:46] roshangautam commented on #41
Looks like a php version issue. I haven't tested this in Laravel 5.4 with php 5.6. I will run some tests and will let you know.

Also, make sure you have v1.X for L5.4. If you still have pre release version installed, make sure that you run a `composer update --no-scripts` to bring totem to its latest version.

[2017-09-20 13:48] qschmick commented on #41
Thanks for looking into it. I did test with both v1.0.0 and v1.0.1

[2017-09-23 19:09] roshangautam commented on #41
Sorry for the delay. I got swamped. Can you please try updating to 1.0.2 and give this a second try ?

[2017-09-24 01:57] qschmick commented on #41
Looks great. Thanks for the help. 👍

[2017-09-24 01:57] #41 closed, assigned to nobody

[2017-09-25 07:49] linhc1994 opened #42 "Package not working with mongodb?"
I using package https://github.com/jenssegers/laravel-mongodb but when I run totem then make this error
Call to a member function prepare() on null

[2017-09-26 02:02] roshangautam commented on #42
I am not sure if we should jump through the hoops to support a database which is not officially supported by Laravel. But, hey if you have a solution, I am open to any pull requests.

[2017-10-06 09:30] DDKaka opened #43 "Install package error"
I have issues while installing your package with composer.
The service provider checks whether the totem table exists. However, an .env  file doesn't exist on this stage. It has to be generated after the composer installation process. This means Laravel has no database connection.

[2017-10-06 11:41] roshangautam commented on #43
This definitely can be improved.

[2017-10-07 12:15] olegmelnik opened #44 "Exception in view/edit task"
Happens when you open the task page

<img width="1277" alt="2017-10-07 15 02 07" src="https://user-images.githubusercontent.com/7072397/31307711-3123130a-ab72-11e7-983a-84a922a4d571.png">

[2017-10-10 21:20] alexstone opened #45 "[Question] Is there a way to clear the Totem task list from the command line?"
So I set up Totem on a project and when trying to create or edit tasks, it through errors. Eventually, my solution was to go in the database and truncate the Totem tables to get a fresh start.

However, when I run `artisan schedule:list`, I see the jobs that I had added that I need to remove. Since they are no longer listed in the web interface, I seem to have no way to clear them from the system.

[2017-10-10 21:22] roshangautam commented on #45
if you manually truncated your database you will have to run artisan cache:clear to clear existing cache.

[2017-10-10 21:25] alexstone commented on #45
ayoooo! that did it, it seems. I should have tried that earlier

[2017-10-11 17:47] #45 closed, assigned to nobody

[2017-10-12 07:09] linhc1994 opened #46 "Run schedule"
Execute schedule every 1 minutes but only one run. I want to run every 1 minute every time I make click execute schedule.
How to implement it?

[2017-10-23 15:58] brycethornton opened #48 "Can't Pass Single Command Parameter Without a Value"
I have a command that takes a single parameter. Example:

`php artisan check-prices --only-simple`

This seems to cause a problem for Totem because when it eventually gets passed to `Artisan::call` it needs to be passed as a key/value array like this:

`["--only-simple" => true]`

Currently it seems to pass like this:

`["--only-simple"]`

This results in this error:

`The "1" argument does not ex

[2017-10-23 16:05] roshangautam commented on #48
Thats definitely an edge case that I overlooked. If you have a solution, I would be more than happy to review and merge it. Thanks.

[2017-10-23 17:38] qschmick commented on #48
@roshangautam Added a PR to fix this issue and also add some basic tests to the compileParamters method.

[2017-10-23 17:56] #48 closed, assigned to nobody

[2017-10-23 17:57] roshangautam commented on #48
Thanks @qschmick . I will release a version momentarily.

[2017-10-23 20:20] hailwood opened #50 "Please rename the tables to totem_*"
This package is fairly specific but it has table names that are highly likely to conflict with an existing application's tables.

"tasks" for example, we have a `Task` model in about 60% of our applications and having to change the table to `application_tasks` because a package has already used that table name is frustrating.

I am suggesting that we rename all tables to `totem_*`. We'll also need

[2017-10-25 16:25] roshangautam commented on #46
This package requires you to configure a cron job for the scheduled jobs to run. Please follow laravel schedule documentation for more information.

[2017-10-25 16:25] #46 closed, assigned to nobody

[2017-10-25 16:27] roshangautam commented on #50
I probably want to implement this using a prefix configuration such that if its not necessary it will use the default table names but if necessary you can configure the prefix to avoid collision with your existing tables.

[2017-10-25 16:27] roshangautam commented on #44
I am not able to reproduce it. More information would be helpful to debug.

[2017-11-01 18:46] alexstone opened #52 "Error when viewing tasks"
Not sure what could be the issue and I've exhausted myself so here I am :)

When trying to view a task in Totem, I get the following error:

[code]

Here's the stack trace:
[code]

Happens in production and in local but only on this particular project. Any ideas on what could be causing it?

For context: I'm on Forge, using Digital Ocean, PHP7.1, and Redis. And like I said, it works on other proje

[2017-11-01 23:06] roshangautam commented on #52
did you delete a task from database directly ? Try clearing the app cache using the following command:

[code]

and see what happens.

[2017-11-02 19:05] alexstone commented on #52
This error was throwing since the first time I installed it. In an attempt to fix/"reset" things, I manually truncated the tables and cleared the cache, but the error persists. I can create a task no problem, I just can't edit or view it.

[2017-11-03 19:32] alexstone commented on #52
Some more data if this helps. After studying the two environments very carefully, the only difference I found is that the project Totem has no issues on has a `utf8mb4_unicode_ci` encoded database and the one that breaks is `utf8_unicode_ci` encoded. Both are `InnoDB`

[2017-11-10 02:28] roshangautam commented on #52
I am sorry this is taking this long. My schedule is crazy. I will take a look as soon as I get time.

[2017-11-10 02:29] roshangautam commented on #44
could this be related to #52 ?

[2017-11-15 01:16] #50 closed, assigned to nobody

[2017-11-15 01:18] roshangautam commented on #36
Command filter part of this issue is now available in new release. Thanks @qschmick.

[2017-11-21 18:10] JeanCarloLeal opened #60 "[BUG] overriding multiples arguments;"
Creating at new task: in the field "PARAMETERS (OPTIONAL)" I insert the following information for a custom command that can accept multiple arguments: "seaport=15 typetraffic=05"
When i click Execute (to force execution) it works, because it don't use the console. However, when using the console (Laravel's schedule), it errors.
I took the liberty to debug the code and found a problem in the file T

[2017-11-29 05:27] roshangautam commented on #60
@qschmick would you like to take a look at this. I would appreciate it.

[2017-11-29 14:20] qschmick commented on #60
@roshangautam Sure thing.

@JeanCarloLeal Can you add the `--` before each of your arguments. E.g. `--seaport=15`?

[2017-12-04 11:40] JeanCarloLeal commented on #60
@qschmick I have not tested creating my command with --options, I believe this works. But using multiple arguments we've found the problem quoted.

[2017-12-04 12:07] qschmick commented on #60
@JeanCarloLeal thanks for the follow up. For clarification, you are passing the values `seaport=15` as the argument to your command or are you declaring `seaport` => `15`? Would you be able to share your commands signature (obviously redacted as needed)? Thank you in advance for the help.

[2017-12-04 12:12] JeanCarloLeal commented on #60
[code]

In totem Usage: seaport=15 typeTraffic=05
Console Usage: php artisan ce:generate 15 05

[2017-12-04 22:12] qschmick commented on #60
@JeanCarloLeal Just merged in a fix for this issue.

[2017-12-04 22:12] #60 closed, assigned to qschmick

[2017-12-05 14:18] #43 closed, assigned to nobody

[2017-12-05 14:19] qschmick commented on #36
@vonec @vesper8 Just merged in the ability to import/export all tasks.

[2017-12-05 14:19] #36 closed

[2017-12-05 18:19] JeanCarloLeal commented on #60
Ty

[2017-12-06 00:28] vesper8 commented on #36
thanks @qschmick !! that's great!

[2017-12-06 13:36] JeanCarloLeal commented on #60
@qschmick I was updating my project and had a surprise, I'm using v2.1.

And your fix was for v2.0, can you check?

[code]

[2017-12-06 15:56] roshangautam commented on #60
Its probably because its not been tagged yet.

[2017-12-07 17:18] JeanCarloLeal commented on #60
@qschmick

[2017-12-07 17:31] qschmick commented on #60
@JeanCarloLeal Just tagged v2.2

[2017-12-08 14:25] JeanCarloLeal opened #63 "[BUG] Removing the console instruction."
@qschmick and @roshangautam In the [Overriding multiples arguments](https://github.com/codestudiohq/laravel-totem/issues/60) correction, the console statement was removed, creating a bug for my application ... please go back with the console check.

We have to be careful about removing validations.

https://github.com/codestudiohq/laravel-totem/blob/a437c9ef1b10483f78af1527c7ff567c4c3f205e/src/Tas

[2017-12-13 11:21] JeanCarloLeal commented on #63
I do not want to be boring, and I understand the chores you have ... but can you take a look at this?
@qschmick @roshangautam

[2017-12-13 22:58] ftrotter opened #64 "config/totem.php is missing"
The readme implies that there is a file called config/totem.php

This file is not installed as a package asset during the installation process.

Either the readme needs to reflect that the totem.php file needs to be copied manually or the

`php artisan totem:assets
`
command should install the totem.php file (assuming there is not already a file)...

-FT

[2017-12-13 23:14] ftrotter opened #65 "missing composer requirements for laravelcollective/html"
Your basic view crashes unless

composer require "laravelcollective/html":"^5.4.0"

has been added. It says that class Form is missing...

this should be added to your composer.json as a requirement...

-FT

[2017-12-14 19:42] qschmick commented on #63
@JeanCarloLeal I'm looking into this

[2017-12-19 04:36] qschmick commented on #63
@JeanCarloLeal Just tagged 2.2.1, this release includes new tests around a very mixed set of arguments with focus on console output as non-console was already tested well. Thanks for the follow up and apologies for the delay.

[2017-12-19 04:36] #63 closed, assigned to qschmick

[2017-12-21 13:56] qschmick commented on #65
@ftrotter Thanks for the details, we'll take a look at this now.

[2017-12-22 18:52] dubstrong opened #68 ""Class 'Form' not found""
Class 'Form' not found (View: C:\laragon\www\blog\vendor\studio\laravel-totem\resources\views\tasks\index.blade.php)

i get it for first time i've installed

[2017-12-22 19:01] qschmick commented on #68
Duplicate of #65

[2017-12-22 19:01] #68 closed, assigned to nobody

[2017-12-22 19:56] #42 closed, assigned to nobody

[2017-12-22 20:00] qschmick commented on #65
@ftrotter Just tagged v2.2.2 with the fix for this.

[2017-12-22 20:00] #65 closed, assigned to qschmick

[2018-01-25 11:12] dejury opened #73 "[REQUEST] Make database connection configurable"
We want to store the cronjobs and their logs into a seperate database. Can you please add this to be configurable?

[2018-02-08 22:53] kmuenkel opened #76 "Failing to Migrate Tables"
TL;DR - The Solution:
In the src/Providers/TotemServiceProvider.php class, this code:
    `$this->mergeConfigFrom(
        __DIR__.'/../../config/totem.php',
        'totem'
    );`
needs to precede the try/catch responsible for registering the ConsoleServiceProvider.
And the check for the table within the 'try' needs to read:
    `if (Schema::hasTable(config('totem.table_prefix', '').'tasks')) {`

[2018-02-21 12:47] qerim opened #78 "Command never gets to executes"
Laravel: `5.5` (not fresh install),
Server: `Debian 8`, `Nginx 1.12` , `PHP 7.1`, `composer 1.6.3`
Totem Table Prefix:  `totem_`

I'm running the queue worked manually just for testing: `php artisan queue:work`

When creating a task in Totem, I notice the queue worker log outputting this continuously:

    [2018-02-21 12:22:19] Processing: Studio\Totem\Events\Creating
    [2018-02-21 12:22:19] Pro

[2018-02-22 12:41] qerim commented on #78
Strange issue. `BROADCAST_DRIVER` was set to `redis`. Chnaged that to `null`. This fixed the infinite loop issue.

When running `php artisan schedule:list`, totem tasks were not showing. Add the `ConsoleServiceProvider` to app.php and everything is fine now.

config/broadcast.php
`'default' => env('BROADCAST_DRIVER', 'null'),`

**config/app.php**
`Studio\Totem\Providers\ConsoleServiceProvider::cla

[2018-02-22 12:41] #78 closed, assigned to nobody

[2018-03-03 22:19] ftrotter opened #83 "It is not clear whether a "filter" means a whitelist, or a blacklist"
Both count as filters.

-FT

[2018-03-03 22:41] ftrotter opened #84 "Documentation does not define what "overlap" means"
What exactly does this option do?

How does it detect that a command is still running?

Is this aware of forked processes?

All of this should be available in the documentation.

[2018-03-03 23:35] qschmick commented on #84
This is a feature of Laravel. Documentation here: https://laravel.com/docs/5.5/scheduling#preventing-task-overlaps

[2018-03-03 23:35] #84 closed, assigned to nobody

[2018-03-04 00:03] qschmick commented on #83
Updated readme and added option to toggle command filter from a whitelist to a blacklist.

[2018-03-04 00:03] #83 closed, assigned to nobody

[2018-03-04 02:13] qschmick commented on #76
@kmuenkel Updated. We update the `hasTable` check a little while ago but have now moved the `mergeConfigFrom`. Thank you.

[2018-03-04 02:13] #76 closed, assigned to nobody

[2018-03-17 05:03] liran-co commented on #73
+1

[2018-03-22 09:07] scoutkirkolson opened #92 "cron job not running?"
I have installed the Totem package and added both a cronjob and a task in Totem to run the scheduled commands in Kernel.php. Both have a frequency of every minute.
The cron job that I added to the crontab (using "crontab -e") is running just fine but nothing is  showing up in Totem, and no task results are added in my database.

Am I doing something wrong?

I'm using Laravel 5.5 and Homestead

[2018-03-26 12:32] jakub-klapka commented on #52
Hello, I have same problem. It seems, that you are counting on implicit model binding with model name only.

In routes, you have:
`Route::get('{task}', 'TasksController@view')->name('totem.task.view');`

and that view method does not has typehinted model:
`public function view($task)`

Probably, this kind of model binding does not work in all cases. I believe, that Lara documentation also specifie

[2018-03-27 12:58] qschmick commented on #92
@KirkOlson Following up on this, can you provide a little bit more detail.

1. Do you have the scheduler running from cron as per the documentation:

`* * * * * php /path-to-your-project/artisan schedule:run >> /dev/null 2>&1`

2. Do you have the task defined in both the kernel.php and as a Totem task?
3. If setup as both this will attempt to run the task twice unless you have the flag to stop ove

[2018-03-27 12:59] #13 closed

[2018-03-27 13:57] raakkan opened #94 "Undefined variable: errors"
Undefined variable: errors (View: D:\web projects\marketing\server\vendor\studio\laravel-totem\resources\views\tasks\index.blade.php)

please help how to solve this problem

[2018-03-27 13:59] qschmick commented on #94
@TechShankar What version of Totem are you running? Which version of PHP? Which version of Laravel?

[2018-03-27 14:00] raakkan commented on #94
totem 3.2, laravel 5.6, php 7

[2018-03-27 14:06] qschmick commented on #94
If you set `APP_DEBUG=true` can you provide any details on which var is undefined?

[2018-03-27 14:08] raakkan commented on #94
yes i'm set app_debug=true see this error

![screenshot 3](https://user-images.githubusercontent.com/26565082/37972653-6cabeb4e-31f6-11e8-8013-edb93d0ccf79.png)

[2018-03-27 14:19] qschmick commented on #94
Your web middleware is missing an item, if you update the file located at `app/Http/Kernel.php` and make sure it has the `\Illuminate\View\Middleware\ShareErrorsFromSession::class,` for the web middleware. If you have overridden the totem middleware with something other then web, make sure that middleware group has that class included.

https://github.com/laravel/laravel/blob/master/app/Http/Kerne

[2018-03-27 14:26] raakkan commented on #94
uncommented this class \Illuminate\View\Middleware\ShareErrorsFromSession::class, in app/Http/Kernel.php
now not working my whole project.

![screenshot 4](https://user-images.githubusercontent.com/26565082/37973656-a00b6dbe-31f8-11e8-81fe-143e354b2672.png)

[2018-03-27 14:39] raakkan commented on #94
above problem fixed.
http://127.0.0.1:8000/totem this url not working. see this image.
![screenshot 5](https://user-images.githubusercontent.com/26565082/37974514-bcba5f9a-31fa-11e8-9503-9e2e5b122246.png)

[2018-04-11 13:12] qerim opened #95 "Error when deleteing task"
Laravel: `5.6` (fresh install),
Server: `Debian 8`, `Nginx 1.12` , `PHP 7.1`, `composer 1.6.3`
Totem Table Prefix:  `totem_`
Queue Driver: `redis`
Queue Monitor: `Laravel Horizon`

Task creating, executing is all working well, however when deleting a Task, it disappears from Totem dashboard, but the `Deleted` item in the Queue fails.

![image](https://user-images.githubusercontent.com/3625009/3861

[2018-04-13 22:06] danieluyo commented on #95
Got to https://github.com/laravel/horizon for horizon

[2018-05-03 09:36] nhp opened #96 "Import throws sql error when importing frequencies"
Reproduce: Create a task with a frequency, export it (json looks good), import it.

Following error occurs: ```An error occurred while importing data.SQLSTATE[HY000]: General error: 1364 Field 'task_id' doesn't have a default value (SQL: insert into `task_frequencies` (`label`, `interval`, `updated_at`, `created_at`) values (Every Ten Minutes, everyTenMinutes, 2018-05-03 11:29:30, 2018-05-03 11:29

[2018-05-03 09:38] nhp opened #97 "Import Form has different action than used route"
According to ```artisan route:list``` the allowed methods for ```task/import``` are GET and HEAD but the form uses POST. Is there reasoning for this? If so please let me know otherwise i will bring up a PR for this later.

[2018-05-31 11:49] syphernl opened #98 "[Request] Option to run a task once"
It would be nice if one-off tasks could be be added as well.

Right now with the correct expression you can target it to run at a specific date/time but it would then run again the year after, unless the task has been removed.

[2018-06-13 18:22] idealb opened #99 "Totem not running task. But running Kernel Tasks."
My tasks run when I execute them directly on the the dashboard but on when they are scheduled. But the scheduled command on Kernel they are running instead.

I am running php 7.2
Laravel 5.6.*
Totem 3.2

[2018-07-03 19:14] jayjfletcher opened #100 "[Request] support onOneServer"
5.6 added support for running tasks on only one server

https://laravel.com/docs/5.6/scheduling#running-tasks-on-one-server

Does anyone know if this planned to be included in Totem?

[2018-07-04 03:09] jayjfletcher commented on #100
nevermind, I've submitted a pull request for this.
#103

[2018-07-04 03:09] jayjfletcher commented on #100
#

[2018-07-04 03:09] #100 closed, assigned to nobody

[2018-07-04 17:22] roshangautam commented on #98
I don't think its possible as totem is based on Laravel scheduler and Laravel's scheduler uses cron to run the schedule. Cron scheduling do not allow you to schedule one off tasks. There's  a different linux utility called `at` which does that.

[2018-07-04 17:22] #98 closed, assigned to nobody

[2018-07-04 17:25] roshangautam commented on #99
Please make sure you have configured Laravel scheduler properly and followed totem's documentation. Feel free to open another issue if you are still having problems. Try to provide more details or errors you are encountering.

[2018-07-04 17:25] #99 closed, assigned to nobody

[2018-07-04 17:26] idealb commented on #99
I am not encountering any issue. They are just not running. When I press run on the run icon on totem admin they work. But they do not work automatically.

[2018-07-04 17:29] roshangautam commented on #99
Have you tried configuring your schedule as documented here :
https://laravel.com/docs/5.6/scheduling

[2018-07-04 17:30] idealb commented on #99
I have scheduled Crons running on my Kernel. Only totem scheduled Crons are not running.

[2018-07-04 18:22] roshangautam commented on #92
Feel free to jump in to the gitter chat if you are still have this issue. (You can find a link in the readme) We just fixed a similar problem, which was related to cache.

[2018-07-04 18:22] #92 closed, assigned to nobody

[2018-07-04 18:23] roshangautam commented on #32
This has been implemented.

[2018-07-10 11:00] qerim opened #105 "Cannot add foreign key constraint"
Hello, I've been getting ` Cannot add foreign key constraint` when running `php artisan migrate` since the update to `3.2.4`.

My `table_prefix` = `totem_`

     Illuminate\Database\QueryException  : SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint (SQL: alter table `totem_task_results` add constraint `task_id_fk` foreign key (`task_id`) references `tasks` (`id`))

      at C

[2018-07-10 14:51] qschmick commented on #105
@qerim Sorry about that, forgot to include the optional table prefix in the foreign key section. Fixed in v3.2.5

[2018-07-10 14:51] #105 closed, assigned to qschmick

[2018-07-10 19:12] qerim commented on #105
@qschmick thanks for your fast response and maintaining this great package

[2018-07-28 23:45] hosquiat commented on #64
Was this ever resolved?

[2018-08-15 09:58] coding-sunshine opened #108 "Spell mistake in whitelist"
It's an easy one.
On Tetem.php 'whitelist' is spelled as 'whiltelist'
I tried to create a pull request but got confused on which branch to keep pull request, 2.0 or 3.0

[2018-08-15 09:59] coding-sunshine opened #109 "Is there any way I can view dashboard in production?"

[2018-08-15 11:51] qschmick commented on #109
Do you mean accessing `/totem/tasks`? Are you having an issue?

[2018-08-15 17:35] coding-sunshine commented on #109
yes, when my APP_ENV=production

/totem/tasks gives 404

[2018-08-15 18:52] qschmick commented on #109
This is documented in the readme (https://github.com/codestudiohq/laravel-totem#web-dashboard). You have to overwrite the default auth feature as it only checks that `APP_ENV` is local.

[2018-08-16 00:41] coding-sunshine commented on #109
Aah ok,
I was confused a bit as I thought there is a way to do it without adding anything to the App service provider,
What I was doing is passing a comma-separated middlewares 'web,auth' from my env and changed following lines on totem.php config file

``
'web' => [
        'middleware' => explode(',', env('TOTEM_WEB_MIDDLEWARE', 'web,auth')),
    ],
``
But I will add the descirebed in the code.

[2018-08-16 15:08] thindery commented on #97
I'm interested in this too. Throws an error `MethodNotAllowedHttpException` on upload.

[2018-08-16 20:25] thindery commented on #109
I was going to chime in on this. It was very easy. I use Laravel Spark, and wanted it to work for only the "developers" email addresses. Here's how I did it:

AppServiceProvider.php add:

[code]

Then in the `boot()` method add in:

[code]

[2018-08-17 02:26] #109 closed, assigned to nobody

[2018-08-17 02:32] roshangautam commented on #108
Looks perfectly fine to me on both 2.0 and 3.0

https://github.com/codestudiohq/laravel-totem/blob/2.0/config/totem.php

https://github.com/codestudiohq/laravel-totem/blob/3.0/config/totem.php

:)

[2018-08-17 02:32] #108 closed, assigned to nobody

[2018-08-17 02:37] roshangautam commented on #94
This is not related to Totem. Its possibly a problem on your end. I can verify that Totem works fine with a fresh installation of Laravel.

[2018-08-17 02:37] #94 closed, assigned to nobody

[2018-08-17 10:45] coding-sunshine commented on #108
Sorry for not mentioning exact file paths

Actually on the following files
https://github.com/codestudiohq/laravel-totem/blob/3.0/src/Totem.php
https://github.com/codestudiohq/laravel-totem/blob/2.0/src/Totem.php

Both files are having it.

[2018-08-19 02:56] roshangautam commented on #64
just released a new version for both 2.* and 3.*

You can now use vendor:publish to publish totem config

[2018-08-19 02:56] #64 closed, assigned to nobody

[2018-08-19 02:57] roshangautam commented on #108
Fixed in latest releases.

[2018-08-19 13:46] coding-sunshine commented on #108
thanks

[2018-08-21 11:25] mukeshphpdev opened #110 "Not installing in laravel 5.4 version"
![capture](https://user-images.githubusercontent.com/38874869/44398816-eb6d7f80-a562-11e8-8fdc-278922a296b3.PNG)

[2018-08-21 11:27] qschmick commented on #110
Which version did you try and install?

[2018-08-21 11:53] mukeshphpdev commented on #110
5.4.36

[2018-08-21 13:57] qschmick commented on #110
@mukeshphpdev Sorry, I meant which version of Totem are you trying to install? v2 requires Laravel 5.5+ and v3 requires Laravel 5.6+

Additionally, Laravel 5.4 hasn't gotten updates from 8+ months and we are not actively supporting the old v1 version of totem.

[2018-09-02 21:42] roshangautam commented on #110
try `composer require studio/laravel-totem:1.*` for 5.4

[2018-09-02 21:42] #110 closed, assigned to nobody

[2018-09-02 22:01] roshangautam commented on #97
This is now fixed in the latest release.

[2018-09-02 22:01] #97 closed, assigned to nobody

[2018-09-02 22:01] roshangautam commented on #96
This should be working fine in the latest release. I tested it with the json file attached in the issue.

[2018-09-02 22:01] #96 closed, assigned to nobody

[2018-09-02 22:13] roshangautam commented on #52
This should be working fine in the latest release

[2018-09-02 22:13] #52 closed, assigned to nobody

[2018-09-02 22:13] roshangautam commented on #44
This should be working fine in the latest release

[2018-09-02 22:13] #44 closed, assigned to nobody

[2018-09-02 22:52] #95 closed, assigned to nobody

[2018-09-03 12:26] antick opened #114 "Not working with Spatie HTML package"
This is what I get when I open the totem page-

Method Spatie\Html\Html::columnSort does not exist. (View: project\vendor\studio\laravel-totem\resources\views\tasks\index.blade.php)

I am using Spatie HTML package. Is there any way I can get a workaround for this?

[2018-09-03 13:09] chssmith opened #115 "[BUG] Schedule page and console list desync"
In our environment, none of our tasks are getting executed anymore.  On the page, we have tasks (just a sample of our tasks):

![image](https://user-images.githubusercontent.com/25271891/44988035-4c2f8b80-af57-11e8-9ecc-8dc4dd6c8328.png)

But notice that the only task that appears to be executing anymore is the Download TV Guide.  Which was one of the first tasks added to the system.  Most of our

[2018-09-03 15:28] roshangautam commented on #115
try `php artisan cache:clear` and see what happens

[2018-09-03 15:33] roshangautam commented on #114
I just tested this and installing Totem on a fresh copy of Laravel works fine.

What version of Laravel and Totem are you using? Also it would be really helpful if you can mention the steps to reproduce your issue.

[2018-09-03 15:36] chssmith commented on #115
Does not seem to have helped.

![image](https://user-images.githubusercontent.com/25271891/44994643-83109c00-af6d-11e8-9289-1a23eb4a4998.png)

[2018-09-03 15:39] roshangautam commented on #115
What version of Laravel and Totem are you running?

[2018-09-03 15:41] chssmith commented on #115
Laravel 5.5.43
Totem 2.4.1

[2018-09-03 16:09] roshangautam commented on #115
I am not able to reproduce this on Laravel 5.5.42 and Totem 2.4.1. Just tested this on a fresh 5.5 install and its working fine.

Also I can't find Laravel 5.5.43 assuming you are talking about laravel/framework package. The latest tag is 5.5.42

Can you try scheduling a command directly from app/Console/kernel.php and see if that shows up in schedule:list?

[2018-09-03 16:16] chssmith commented on #115
See attachment below as far as version numbers.

It does appear scheduling via Kernel.php is working correctly:
![image](https://user-images.githubusercontent.com/25271891/44995898-287a3e80-af73-11e8-904d-8ed7f325bf64.png)
![image](https://user-images.githubusercontent.com/25271891/44995847-efda6500-af72-11e8-96e0-ef5e54701227.png)

And we've been running Totem for about 6 months up to this point.

[2018-09-03 16:23] roshangautam commented on #115
I see 5.5.43 now. Still not able to reproduce. The only reason a scheduled task wouldn't show up in schedule:list is if its disabled.

[2018-09-03 16:47] antick commented on #114
Thank you for the reply, Roshan.

I am using the latest version of Laravel and totem.

As I mentioned, I am using Spatie's HTML package, maybe that is what conflicts with Laravel collectives that Totem usage.

[2018-09-03 16:55] roshangautam commented on #114
Thats very much possible. I have plans to convert Totem into a SPA using vue driven tables etc. which will eliminate the use of any html package (laravel collective/spatie) in the near future. For now, I am afraid, there's nothing much I can do to help you. You can use Laravel collective atm if it meets your requirements instead of Spaties HTML package.

Again, sorry for any inconvenience caused.

[2018-09-03 16:55] #114 closed, assigned to nobody

[2018-09-03 17:18] chssmith commented on #115
I do have 3 disabled tasks.  But even the task that is running (Download TV Schedule) doesn't show up in that schedule list.  So I'm not certain if it's going to run tomorrow.

In addition, creating new tasks via the totem pages does not appear to add anything into the scheduled tasks list.

[2018-09-05 01:19] compact722 opened #117 "[BUG] Not running multiple jobs at the scheduled time"
Multiple jobs not running at the scheduled time.

![image](https://user-images.githubusercontent.com/8454918/45065590-76bb4900-b0fd-11e8-8b73-b0881cbc1a15.png)

The bottom task will run however the top one won't? At the scheduled time, it just ticks over for the next run.

[2018-09-05 03:05] compact722 commented on #117
Was caching issue

[2018-09-05 03:05] #117 closed, assigned to nobody

[2018-09-05 08:19] vanessa-joyce opened #118 "Disabled tasks get executed"
We configured our cron tasks on our staging and production system using your awesome tool. After running some tests on the staging environment, we need to disable some tasks. Even after disabling some tasks they got executed and are shown using the command artisan schedule:list.

Is there a way to prevent them from executing without deleting them?

Thank you for your appreciated help.

[2018-09-05 08:24] vanessa-joyce commented on #118
Just found the solution by myself reading other Issues :-). I had to clear the cache, after that, artisan schedule:list only shows the not disabled tasks.

[2018-09-05 08:24] #118 closed, assigned to nobody

[2018-09-06 02:34] jayjfletcher opened #119 "[REQUEST] 5.7 Support"
Request to create a 4.0 branch for 5.7 support

[2018-09-06 02:52] roshangautam commented on #119
working on it as we speak :)

[2018-09-06 03:33] roshangautam commented on #119
a new release has now been tagged

[2018-09-06 03:33] #119 closed, assigned to nobody

[2018-09-17 09:57] uwascan opened #120 "[BUG] Error on php artisan migrate:refresh"
Hello,
I encountered the error below when I run `php artisan migrate:refresh`

[code]

which occurs as a result of  wrongly named index and incorrect order of dropping the index before the foreign key in the down method of  ```2018_07_06_165603_add_indexes_for_tasks.php``` migration file.
you used the name ```task_id_fk``` when defining the foreign key and used the name ```task_results_task_id_fk`

[2018-11-05 15:56] marcoocram opened #122 "Incompatible with Laravel 5.7.12 and totem table prefix"
We can't use laravel totem with this version of laravel and table prefix.

It fail when tries to do an operation with tasks tables because tries to concatenate several times the table prefix.

Can you check this issue? Thanks!

[2018-11-05 16:36] marcoocram commented on #122
i've checked this PR: https://github.com/laravel/framework/pull/26085/files

and it set table on new instance function so it concatenate the prefix

[2018-11-07 02:44] roshangautam commented on #122
is this still a problem? Did that PR on laravel/framework fixed it or introduced this issue?

[2018-11-07 07:15] marcoocram commented on #122
introduced the issue, now is not working porpertly, im not using the prefix to avoid this problem

[2018-11-08 23:22] #122 closed, assigned to nobody

[2018-11-15 16:09] prakhargvp opened #125 "[UNKNOWN] Result is not showing"
Command is Executing but not storing any output.
when upgrading laravel from laravel 5.5 to laravel 5.7
'
![screenshot from 2018-11-15 21-37-56](https://user-images.githubusercontent.com/7056772/48565529-c5b40480-e91e-11e8-95aa-e78c0def8be4.png)

[2018-11-20 02:10] roshangautam commented on #125
I can't reproduce this. Works fine on a clean install. Any steps to reproduce this would be really helpful to triage this.

[2018-12-03 04:55] chao opened #127 "Is that really necessary to check 'tasks' table every time?"
Our DB operator noticed there is tons of query on information_schema.tables (`SELECT * FROM information_schema.tables WHERE table_schema=? and table_name='tasks'`) which are caused by laravel-totem.

After digging the code, in the `TotemServiceProvider.php` you check the 'tasks' table existence every time. Is this really necessary?

[2018-12-03 09:12] syphernl commented on #115
Seems like the cache may be an issue here. At least, it is on our end. `schedule:list` doesn't show new entries we added trough the model and still shows the old ones.

The overview changes once we clear the cache manually. I see that some Totem caching functionality was added at the beginning of September.

[2018-12-04 03:30] qschmick commented on #127
This check is in place to ensure the service isn't booted if the migration hasn't run yet to create the base table. An issue arose in the past where a new project include totem and had immediate failures as the migrations weren't run. We should be able to wrap that check with some caching to reduce that select overhead.

[2018-12-05 06:41] chao commented on #127
Yes, if the table wasn't correctly created, an exception will be thrown in `ConsoleServiceProvider`, right?

Maybe you can just wrap the [following code](https://github.com/codestudiohq/laravel-totem/blob/691fff399d1b2cdceb62aa17938f3d630b173e9b/src/Providers/ConsoleServiceProvider.php#L31) with `try... catch...`:

[code]

[2018-12-08 16:58] Namoshek opened #128 "[BUG] Field types not compatible with SQL Server"
After creating the first task, the dashboard stopped working with the error:

The reason is obviously the field type of `duration` in the `task_results` table:

[code]

Is there any particular reason one would want `duration` to be a non-numeric field and still call aggregate functions on it?

_Note: This is most likely an issue that only occurs in combination with Microsoft SQL Server._

[2018-12-12 15:24] gcdsm12 commented on #73
+1 Please add logs to be configurable. It is very important for me.

[2018-12-12 15:35] joaolisboa opened #129 "Disable writing to log"
According to the config and the code I can't seem to find a way to disable the Log::info calls being made, which is quickly filling up the laravel-logs which is undesirable for big projects. This is just after enabling totem for 30 minutes in our system:

![image](https://user-images.githubusercontent.com/17931192/49879947-fb1b1780-fe22-11e8-8ae6-6fa61b885657.png)

[2018-12-13 12:16] gcdsm12 commented on #129
Please fix it.

![image](https://user-images.githubusercontent.com/7134503/49938150-ebf2a300-fed0-11e8-80a2-e33f9b0ec3b4.png)

[2018-12-13 14:08] qschmick commented on #129
@joaolisboa Can you provide an example of the info output? It's been a bit since I was digging around in Totem but I don't remember anywhere that we directly log info calls. Thanks for any additional info and I'll work on getting it configurable

[2018-12-13 14:12] joaolisboa commented on #129
@qschmick Here's an example.

![image](https://user-images.githubusercontent.com/17931192/49943907-ffa60580-fee0-11e8-9573-a7f7262e5b3d.png)

[2018-12-13 14:30] qschmick commented on #129
@joaolisboa What is your broadcast driver? `config/broadcasting.php`

[2018-12-13 14:52] joaolisboa commented on #129
@qschmick Seems to be Laravel default config which is pointing to the log in the .env. So this would be the cause, right? But I still think it'd be nice to have an option to configure these logs on totem, instead of outright disabling the broadcast log.

![image](https://user-images.githubusercontent.com/17931192/49945281-6842b180-fee4-11e8-8078-805a559a2c78.png)

[2018-12-13 15:32] qschmick commented on #73
@dejury Sorry for the long wait, please see [PR 130](https://github.com/codestudiohq/laravel-totem/pull/130)

[2018-12-13 15:34] qschmick commented on #129
@joaolisboa We are only using the default broadcast event so you have it configured to go to logs which it is. Are you asking us to have Totem config contain its own broadcast driver prop?

[2018-12-13 15:38] joaolisboa commented on #129
@qschmick I'm asking if there's a way to enable/disable the log for Totem without having to change the normal broadcast log as it is configured by default. Because we want to disable these particular logs without disabling the whole broadcast logs.

[2018-12-13 15:53] qschmick commented on #127
@chao See PR 131

[2018-12-19 15:18] gcdsm12 commented on #129
@qschmick please change it,we do not need to consume extra space with logs, allow a setting to disable or enable these logs in general or by cronjob separately.

In only last seven days consume 250MB it's not necessary for us.
![image](https://user-images.githubusercontent.com/7134503/50228953-1943c300-03a1-11e9-8f1f-dd8650477ebd.png)

[2018-12-19 17:14] qschmick commented on #129
@gcdsm12 Totem isn't doing anything except using the broadcast driver. Changing this from log to another option will stop those infos

[2018-12-19 17:25] qschmick commented on #129
@gcdsm12 @joaolisboa This is the built in framework process of using the specific BROADCAST_DRIVER of `log`. Totem is not doing anything special or custom here to cause these logs. Please use the already existent config option (https://laravel.com/docs/5.7/broadcasting#configuration). If you have a better solution please open a PR and we will review. Thank you for the details and collaboration.

[2018-12-19 17:27] joaolisboa commented on #129
@qschmick I understand now this is Laravel standard behavior, The issue is right now I have no way to change broadcast driver. And disabling this driver will disable Totem. So for me to keep this, the log will keep piling up. Is there no other way to configure this?

[2018-12-19 17:28] #73 closed, assigned to qschmick

[2018-12-20 15:33] #127 closed, assigned to qschmick

[2018-12-28 15:19] joaolisboa opened #132 "[REQUEST] Queue driver or name"
I'm developing a feature for my web app and am wondering if there's any possibility to have an option to make the broadcast event extend `ShouldBroadcastNow` instead of `ShouldBroadcast` so that it uses the `sync` queue driver instead of the one defined in the env? Or at least a config option to define the queue of the events so I can ignore the jobs created by Totem?

Ideally I'd want to use Shou

[2019-01-05 12:34] d3p4n5hu commented on #125
@prakhargvp I do not know the exact way you are using this package, but i had the same problem. If you are overriding the package, like me, then read on.

I was extending the package for custom use case, however, i forgot to also include/modify the Studio\Totem\Events\Executed class. If you take a look into it, you'll find the code where the actual insertion into the results table takes place. Aft

[2019-01-05 22:54] roshangautam commented on #132
Feel free to send a PR. We will be more than happy to review.

[2019-01-05 22:58] roshangautam commented on #129
I am closing this as you have opened another issue (#132) similar to this one. Looks like you have found a way around it. Feel free to send a PR and we will be more than happy to review it.

[2019-01-05 22:58] #129 closed, assigned to qschmick

[2019-01-08 05:28] Insolita opened #133 "Typo in service provider"
https://github.com/codestudiohq/laravel-totem/blob/cd6a3db56c4ba9a4d37455090c969045e71ce7e4/src/Providers/TotemServiceProvider.php#L67

seems it should be
[code]
because third parameter of define function must be boolean, and it deprecated in latest php versions, that raise exception

[2019-01-08 05:32] roshangautam commented on #133
What version of PHP are you using?

[2019-01-08 05:35] Insolita commented on #133
7.3

[2019-01-08 05:38] roshangautam commented on #133
Thanks. Does Laravel officially support 7.3 already?

[2019-01-08 05:38] Insolita commented on #133
But real reason not in my php version, see define function signature
 http://php.net/manual/ru/function.define.php
you doesn't have errors because third param was recognized as boolean true

[2019-01-08 05:40] Insolita commented on #133
I`m only in local enviroment use it with 7.3 as a fact it has some problem with opcache, i disable it
https://github.com/laravel/framework/issues/27052

[2019-01-09 13:25] Insolita opened #134 "[BUG] Postgres incompatible query"
https://github.com/codestudiohq/laravel-totem/blob/cd6a3db56c4ba9a4d37455090c969045e71ce7e4/src/Task.php#L132

Column 'duration' declared as varchar type.

https://github.com/codestudiohq/laravel-totem/blob/cd6a3db56c4ba9a4d37455090c969045e71ce7e4/database/migrations/2017_08_05_201914_create_task_results_table.php#L21

Postgres can apply avg function only on  columns with type smallint, int, bigin

[2019-01-09 13:34] Insolita opened #135 "[REQUEST] Scheduling Queued Jobs"
Have you any plans to add ability to schedule Jobs, not only artisan commands  (At now this leads to writing additional  wrappers ) but laravel give us native ability

[2019-01-09 14:27] Insolita opened #136 "[REQUEST] Add autocomplete for field with command choosing"
Add ability for autocomplete like select2 At now, choosing command from long command list  is not comfortable

[2019-01-10 15:11] vesper8 opened #137 "[REQUEST] Realtime Updates"
Love your dashboard and use it in many of my applications!

I wish it was updated in realtime, just like Laravel Horizon is.

Right now I'll have both the Horizon and Totem dashboards opened and Horizon gets updated in realtime of course which is so nice and Totem doesn't update the "last run" / "next run" / "average run time" unless you do a manual page reload.

Would be great if you added this f

[2019-01-17 05:53] fititnt commented on #133
@Insolita try PHP 7.3.1 stable. xdebug and opcache should be working on.

[2019-01-17 12:58] vesper8 commented on #133
Also having this issue since upgrading to PHP 7.3

Laravel Valet now defaults to PHP 7.3

In any case, this is clearly a typo. You meant to set the default connection name if one is not provided, define() method does not accept a 3rd parameter for this purpose.

https://secure.php.net/manual/en/function.define.php

[2019-01-17 13:42] vesper8 opened #139 "[BUG] refactor caching strategy when performing actions (import / create / delete / export)"
I'm confusing as to why this is happening but it seems if you export your tasks as json, then start from a fresh state (After truncating all tables or running php artisan migrate:fresh, and then try to import your tasks.json

It fails with the error
[code]

From a fresh state / fresh install

Visit /totel

Click new, create a new task and add to it a frequency (Every 5 minutes)

Then export that a

[2019-01-17 13:46] vesper8 commented on #139
Upon further debugging, I realize this is a cache issue

after running php artisan migrate:fresh, if you clear the cache with php artisan cache:clear

Then you able to import your tasks.json

What is happening is the import method of EloquentTaskRepository is running
[code]

on the data provided by the json file, and it is somehow finding the old task in the cache, even though the database itself

[2019-01-17 13:48] vesper8 commented on #139
I understand the cache is meant to not constantly query the db every minute when the task scheduler runs. But when performing actions such as add/edit/export/import I think the cache should be ignored/cleared prior to these actions

Perhaps adding a means to clear the cache from the UI would be beneficial as well

[2019-01-17 16:10] #133 closed, assigned to nobody

[2019-01-17 16:16] roshangautam commented on #139
Thanks for spending time on this and sorry about the caching mechanism causing you issues. Can you please re phrase the title to something like "refactor caching strategy" or what ever is more suitable to the root cause of the issue. Also feel free to submit a PR if you have something in your mind to address this

[2019-01-17 18:31] vesper8 commented on #139
Sure, no problem. I edited the title and I'll see what I can think of.

For sure the big problem leading to issues here is that when you delete a task, it somehow remains in the cache.

[2019-01-24 13:24] LeandroVCastro commented on #125
Do you try use it?

return $this->info("hello log");

[2019-01-24 13:26] LeandroVCastro opened #140 "Page isn't refreshing after execute task manually"
The Totem page isn't refreshing automatic when execute a task manually. I'm needing press F5 to reload and see new logs...

Anybody else with the same problem?

[2019-01-25 11:29] LeandroVCastro commented on #78
This solved my problem. Thanks.

[2019-02-11 01:14] ajgentile commented on #120
Nicely done!

[2019-02-14 08:49] truffolone commented on #129
May I ask to reopen the issue? I had a similar problem that I was finally able to fix and would like to share since this was one of the first results on a google search, in case someone had the same problem as me

I don't know if that can be you case but I encountered a similar problem using Laravel 5.6

Whet I found out was that the cron for the queued jobs with

    * * * * * cd /path-to-your-pr

[2019-02-14 17:42] joaolisboa commented on #129
Unfortunately(or fortunately since it's not as bad) this is not the issue I have, since these are not errors, just info logs. These logs are part of the broadcast, which in my project is defined as `log`, since at the moment I have no other alternative.

What happens is every time a cron runs, it seems to go through the broadcast with data relevant to the task to be executed so it gets written to

[2019-02-20 07:06] syphernl opened #142 "[UNKNOWN] Execute missing parameters"
If we run a task via "Execute" in the Totem dashboard, this results in an error stating "Not enough arguments".

However, if we set the execution time to now + 2 minutes it works just fine.
It seems that the "Execute" feature doesn't take the configured parameters in account.

[2019-02-24 23:38] jmattheson commented on #76
I'm using Laravel 5.7.19 and I already have a tasks table. I tried putting a TOTEM_TABLE_PREFIX=totem_  or TOTEM_TABLE_PREFIX=true entry in  my .env file but still run into errors while migrating. "Cannot declare class CreateTasksTable, because the name is already in use". I tried the fix mentioned here in issue [#76](https://github.com/codestudiohq/laravel-totem/issues/76) Why not use a prefix al

[2019-02-25 15:23] qschmick commented on #76
@jmattheson this is due to the class name in the migration. The package was created before the larger adoption and fix for the prefix was put into place. That would still cause an issue here due to the class name. A quick fix would be to change the migration class name for your migration. And manually fix your migrations for the name update. We also have to try and keep from causing BC issues as w

[2019-03-02 22:24] jorgemudry opened #143 "[Request] 5.8 Support"
Request to create a 5.0 branch for 5.8 support.

Tks! :)

[2019-03-03 19:27] roshangautam commented on #143
Done.

[2019-03-03 19:27] #143 closed, assigned to nobody

[2019-03-03 19:28] roshangautam commented on #142
I would appreciate if you can help me reproduce this. Tested it in a vanilla installation and everything is working fine.

[2019-03-03 19:30] roshangautam commented on #140
This is by design. Currently real time refresh is not implemented. Closing this to honor #137

[2019-03-03 19:30] #140 closed, assigned to nobody

[2019-03-03 19:33] roshangautam commented on #135
Haven't gotten a lot of time lately to work on totem but this seems interesting. Adding a reference link: https://laravel.com/docs/5.7/scheduling#scheduling-queued-jobs

Also feel free to send a PR, I will be more than happy to review and merge.

[2019-03-03 19:36] roshangautam commented on #134
This would be the lowest in my priority as I dont use `postgres` for any of my applications. I would really appreciate if you or someone else who has a higher priority to get this to work in `postgres` send a PR to fix this.

[2019-03-03 19:37] roshangautam commented on #128
This is very similar to #134

[2019-03-03 19:38] roshangautam commented on #125
@prakhargvp did you get this to work?

[2019-03-08 12:03] LeandroVCastro commented on #140
Do you could explain the reason for it, please?

[2019-03-09 18:47] #125 closed, assigned to nobody

[2019-03-19 03:21] Involat opened #145 "[BUG]Removed Migration crash"
I was having issues with totem, so I rolled back the migrations, and that broke the application. I then composer removed / updated and tried to reinstall totem. This is what I get when I'm trying to install:
[code]

I then try to run php artisan:

[code]
I'm running laravel 5.8

[2019-03-19 04:31] Involat commented on #145
I had to make the frequencies table manually, then remove the frequencies migration, and run php artisan migrate to get it working again.

[2019-03-20 04:53] prakhargvp opened #146 "The "1" argument does not exist."
## Version information
 - Laravel: 5.8.*
 - PHP: 7.1.3
- laravel-totem: 5.0
## Description

Getting Error "The "1" argument does not exist."
## Screenshots

![Screenshot from 2019-03-20 10-16-43](https://user-images.githubusercontent.com/7056772/54659883-cee5f580-4af9-11e9-8f30-1a06e62ffa2d.png)
![Screenshot from 2019-03-20 10-16-49](https://user-images.githubusercontent.com/7056772/54659885-cf7e8

[2019-03-29 11:04] SwithFr commented on #120
Same issue and replacing migration doesn't work. The same error message appears

[2019-03-31 20:16] matthewnessworthy opened #147 "[PROPOSAL] Sort commands by command name instead of description"
Currently the commands dropdown is sorted by the command description. IMO this should mirror the `php artisan list` command and sort by the command name (signature).

[2019-04-03 19:38] lroggen opened #149 "[Proposal] When a task is executed, the dashboard is updated after execution"
Essentially real time data refresh.

The proposed solution would be to convert the table rows to a Vue component. When the task execute button is clicked, a request is made to run the task. On successful completion of the execute task request, a vue event is fired and the response data from the request (updated to a Task Collection instead of redirect()->back()) is passed to the TableRow vue compo

[2019-04-04 13:27] qschmick commented on #149
@lroggen Sounds good, feel free to open a PR

[2019-04-05 19:57] lroggen opened #151 "[Proposal] Sort by last run date and average runtime"
Update the EloquentTaskRepository to return a `new Task` but with two sub queries appended to it:
[code]

[code]
and
[code]

This will allow the columns to be appended before the attributes on the Task model are appended and allow them to be used with the `sortableBy` scope in the FrontendSortable trait.

[2019-04-05 20:37] qschmick commented on #151
@lroggen Sounds like a good update. Feel free to open a PR and make sure to typehint please.

[2019-04-07 18:46] roshangautam commented on #147
Merged

[2019-04-07 18:46] #147 closed, assigned to nobody

[2019-04-07 19:16] roshangautam commented on #146
I tried reproducing this using a command with parameters that follow the same pattern as yours and it worked fine. As I dont have access to your codebase, I would appreciate If you can help me debug this and try to figure out the root cause of the issue. I feel like this is caused by something on your end.

[2019-04-07 23:36] roshangautam commented on #142
if you are still experiencing this issue, feel free to reopen and provide more details (like steps to reproduce, versions being used etc.)

[2019-04-07 23:36] #142 closed, assigned to nobody

[2019-04-07 23:37] roshangautam commented on #136
How does this look?

![final_5caa7d7b2a4973001380a5ee_534060](https://user-images.githubusercontent.com/978347/55691498-57b2bd00-5953-11e9-8126-ba80033362c7.gif)

[2019-04-08 00:54] roshangautam commented on #136
Tagged v5.0.1 which includes this component. Please check

[2019-04-08 00:54] #136 closed, assigned to nobody

[2019-04-09 16:36] jayjfletcher opened #154 "[BUG] v5.0.1 empty command list"
After pulling the latest tagged release (v5.0.1), I noticed I was no longer able to select a command to schedule:

![Screen Shot 2019-04-09 at 12 32 08 PM](https://user-images.githubusercontent.com/5743488/55817971-99fb0c00-5ac3-11e9-94db-9dd3f47feecc.png)
![Screen Shot 2019-04-09 at 12 32 17 PM](https://user-images.githubusercontent.com/5743488/55817972-99fb0c00-5ac3-11e9-8d62-8ee81377fb4a.png)

[2019-04-10 04:28] roshangautam commented on #154
try republishing the assets and see what happens. `php artisan totem:assets`

[2019-04-10 23:22] jayjfletcher commented on #154
I have deleted the assets, removed the package, cleared my cache,  and then reinstalled the package and republished the assets. Tried in both Chrome and Firefox, still no luck. Getting the same error.

[2019-04-10 23:59] #151 closed, assigned to nobody

[2019-04-11 00:04] roshangautam commented on #154
Thanks. I will test this on a fresh install as well and let you know my findings.

[2019-04-11 00:46] jayjfletcher commented on #154
I found the issue, I'll be submitting a PR

[2019-04-11 01:49] roshangautam commented on #154
rofl, just saw your comment while pushing the bug fix

[2019-04-11 01:53] jayjfletcher commented on #154
Thanks

[2019-04-11 01:53] #154 closed, assigned to nobody

[2019-04-11 01:54] roshangautam commented on #154
Sure thing. Let me tag a new version real quick.

[2019-04-12 13:52] crissi opened #156 "Class db does not exist"
composer gives me this error when trying to require the package:
![image](https://user-images.githubusercontent.com/3076578/56042277-fa47b300-5d3a-11e9-8aaf-b0807c9f2a40.png)

[2019-04-12 15:46] roshangautam commented on #156
Just tested installing totem in a fresh Laravel installation and everything works fine for me.

Also `db` is a core component of Laravel and your error is originating from Container class. Does your Laravel installation work fine without totem?

[2019-04-12 15:51] crissi commented on #156
Yes if I remove totem it works again, I am running the install with —ignore-platform-reqs , I don’t know if that can be a cause

Få Outlook til iOS<https://aka.ms/o0ukef>
________________________________
Fra: Roshan Gautam <notifications@github.com>
Sendt: Friday, April 12, 2019 5:46:40 PM
Til: codestudiohq/laravel-totem
Cc: Christian; Author
Emne: Re: [codestudiohq/laravel-totem] Class db does no

[2019-04-13 16:31] roshangautam commented on #149
This has been merged and released. Thanks @lroggen

[2019-04-13 16:31] #149 closed, assigned to lroggen

[2019-04-13 16:33] roshangautam commented on #156
Can you please try without that option and see what happens?

[2019-04-15 07:31] crissi commented on #156
Ok found out where the error happens, TotemServiceProvider.php

![image](https://user-images.githubusercontent.com/3076578/56114429-15940780-5f61-11e9-8588-0c4f34970093.png)

The error happens when calling the Schema::getConnection()

[2019-04-17 10:43] randomparanoia opened #157 "After adding tasks issue"
After adding tasks I get this error on UI:

[code]
Removing table prefix ( undesirable ) fixes it.

I'm using version 5.0.2 upgraded from 5.7 > 5.8 and rerun publish assets. Also removed package an retried. thanks

[2019-04-17 15:28] jorgv commented on #157
Have the same issue,

I am not sure if is related to this Parent Model Class
[code]

[2019-04-23 10:12] dengyupeng opened #158 "任务没有执行"
手动才能执行

[2019-04-26 03:51] mprythero opened #159 "Blade Recommendations"
I was just more curious than anything, but is it only recommended to use only the blades provided or are there suggested ways for integrating this into our own layouts? Thanks and this looks like a great asset!

[2019-04-28 18:19] WBDC opened #160 "Scheduled tasks firing 1 hour earlier"
Since summer time change in Europe/London, my Laravel Tasks firing 1 hour earlier.
The timezone correctly set in app/config/app.php to ` 'timezone' => 'Europe/London',`

SSHd into the server and checked the current time in tinker and it is showing the correct time.

Totem has its own config file, but there are no reference to the timezone settings. Also, the totem.index page showing all tasks wher

[2019-05-03 13:43] binnicordova commented on #157
if not necessary, really, remove the "totem" from your prefix on .env

[2019-05-03 17:53] prakhargvp opened #161 "[Bug] line break is showing in command output but not in email output."
## Version information

 - Laravel: v5.8
 - Totem: v5.0
 - PHP: 7.1.3

## Description
line break is showing in command output but not in email output.

## Screenshots
If applicable, add screenshots to help explain your problem.

![Screenshot from 2019-05-03 23-22-09](https://user-images.githubusercontent.com/7056772/57155943-5497d900-6dfa-11e9-9d4b-1ac98f4bc1a0.png)
![Screenshot from 2019-05-03 23

[2019-05-06 21:17] binnicordova commented on #157
protected $table = TOTEM_TABLE_PREFIX.'tasks';
![image](https://user-images.githubusercontent.com/42467277/57255725-5b049b80-701a-11e9-9f27-0c008763d86f.png)

[2019-05-07 17:20] binnicordova commented on #157
mmm na.. the solution is edit the class "Result" and "EloquentTaskRepository"
![image](https://user-images.githubusercontent.com/42467277/57319575-7aef9a00-70c2-11e9-91d7-35a574c05be8.png)
![image](https://user-images.githubusercontent.com/42467277/57319593-86db5c00-70c2-11e9-9864-ceb1eab4c2a4.png)

[2019-05-23 12:46] zacksleo opened #162 "[REQUEST]: notify only job failed"
It would be better if it can only send email or sms when scheduling fail.

[2019-05-24 14:37] roshangautam commented on #156
You shouldn't be running composer install with `—ignore-platform-reqs`. Totem requires a database to function and using that flag means ignoring basic requirements.

[2019-05-24 14:37] #156 closed, assigned to nobody

[2019-06-13 17:22] dylanmslavin opened #163 "[PROPOSAL] Fix broken TOTEM_TABLE_PREFIX"
The following error is thrown on the `/totem/tasks` page if any tasks exist in the database.

```SQLSTATE[42S02]: Base table or view not found: 1051 Unknown table 'tasks' (SQL: select `tasks`.*, (select `ran_at` from `totem_task_results` where `task_id` = `tasks`.`id` order by `created_at` desc limit 1) as `last_ran_at`, (select avg(duration) from `totem_task_results` where `task_id` = `tasks`.`id

[2019-06-17 22:07] mskenderian-wps opened #164 "Auto Import"
Is there a way to auto import, or write a seeder class to seed a production deployment, so i dont have to import the json file everytime we need to spin another instance of the app.

[2019-06-17 22:36] mskenderian-wps opened #165 "appentOutputTo"
anyway to append to a file like this?

[code]

[2019-06-20 18:40] ghost opened #167 "[Bug] installing package against L5.8 fails with "Script @php artisan package:discover --ansi handling the post-autoload-dump event returned with error code 1""
[code]

[2019-06-20 18:43] #167 closed, assigned to nobody

[2019-06-26 14:43] bondas83 opened #168 "CLEANUP OPTIONS editing"
When editing Auto Cleanup type, library is showin that which is not selected, because of error in CODE

`<input type="radio" name="auto_cleanup_type" value="days" {{old('auto_cleanup_type', $task->auto_cleanup_type) !== 'results' ? '' : 'checked'}}> Days`

it says that if parameter is results then if  go to else and select Days

[2019-06-28 09:24] marcoocram commented on #157
when this will be released on a new version?

[2019-06-28 09:32] roshangautam commented on #163
Fix has been released now. Please upgrade to v5.0.3

[2019-06-28 09:32] #163 closed, assigned to nobody

[2019-06-28 09:33] roshangautam commented on #157
Fix has been released now. Please upgrade to v5.0.3

[2019-06-28 09:33] #157 closed, assigned to nobody

[2019-06-28 09:36] marcoocram commented on #157
Thanks!!

[2019-07-13 17:52] roshangautam commented on #158
I tried translating this but didn't get any useful information. Please open another ticket with more information, if required.

[2019-07-13 17:52] #158 closed, assigned to nobody

[2019-07-15 14:06] bondas83 opened #169 "Pusher horizon ant totem in one project failed"
if i set BROADCAST_DRIVER to pusher and QUEUE_DRIVER to redis. I got a lot off errors about pusher messages.
And I got all event to horizon, and some of them stuck in jobs
![image](https://user-images.githubusercontent.com/29758515/61222211-e4bf9c00-a722-11e9-9617-d126d86a5a49.png)

[2019-07-18 10:06] michalper opened #170 "Too few arguments to function Studio\Totem\Task::timezone(), 0 passed"
Hello,

I've got problem with **/totem/tasks/1** view.

![Zrzut ekranu 2019-07-18 o 12 02 10](https://user-images.githubusercontent.com/6458084/61448924-21bea500-a954-11e9-9416-87fa0e64e198.png)

When I try to open task on dashboard, every time I've received 500:
[code]

In database everything seems to be ok:
![Zrzut ekranu 2019-07-18 o 12 04 36](https://user-images.githubusercontent.com/6458084/6

[2019-07-18 10:50] michalper commented on #170
Sorry, I haven't got bindings in my middleware:
https://stackoverflow.com/a/47784205

my fault

[2019-07-18 10:50] #170 closed, assigned to nobody

[2019-07-19 19:18] chrislarrycarl opened #171 "[BUG] Tasks list last run time formatting 12 hour instead of 24."
Computed `lastRunDate()` [in the TaskRow Vue component](https://github.com/codestudiohq/laravel-totem/blob/5.0/resources/assets/js/tasks/components/TaskRow.vue#L62) is using 12 hour format instead of 24. This results in the tasks list showing a "different" time than the Execution Results list within Task Details (which uses the stored format).

Changing the moment format string to `HH` should reso

[2019-07-19 19:26] roshangautam commented on #171
If you don't mind, can you please send a PR for this?

[2019-07-20 18:52] #171 closed, assigned to nobody

[2019-07-22 12:35] michalper commented on #115
Hi,

I've exactly the same problem.
- PHP 7.3.7
- Laravel 5.8.29
- Laravel Totem 5.0.4

Kernel.php class:
![image](https://user-images.githubusercontent.com/6458084/61632382-01148900-ac8d-11e9-978f-9fea2bc6ca8d.png)

Totem dashboard:
![image](https://user-images.githubusercontent.com/6458084/61632474-37520880-ac8d-11e9-8341-b6dbf2cabe52.png)

Schedule list:
![image](https://user-images.githubuserc

[2019-07-25 10:47] ankit-aresourcepool opened #173 "schedule task not running"
Hello
i am working on laravel 5.6  and i am using totem   "studio/laravel-totem": "v3.3.1". the issue is totem task is not firing. i have checked with every minute schedlue task and between but no luck.
and all my kerrnal task is running

please help me i need this is working urgently
![Screenshot from 2019-07-25 16-17-17](https://user-images.githubusercontent.com/37215290/61868747-bba7c400-aef7-1

[2019-07-30 05:48] ManojKiranA commented on #173
have you added the `php artisan schedule:run >> /dev/null 2>&1` inside the cron entry of the server

[2019-07-30 05:49] ManojKiranA commented on #169
can you share some errorlog

[2019-07-30 05:59] ankit-aresourcepool commented on #173
yes
the main issue was i need to clear cache than scheduler working.
this was not working on local server but now i have checked it on live and its working.
i have one more query :- in my console command i am hitting third party api and these api with thousand of pages. so my script running continuously many days. so i want these script stop in 9 am morning and again start in 9 pm .
so how can i g

[2019-07-30 11:40] bondas83 commented on #169
I fix this issue with rewriting BroadcastingEvent to this:

`<?php
#disable event to Redis server
namespace Studio\Totem\Events;

class BroadcastingEvent extends TaskEvent
{
}
`

[2019-08-01 15:04] oliworx commented on #168
I can confirm this issue

[2019-08-01 15:06] roshangautam commented on #168
@bondas83 can you please send a PR for this fix?

[2019-08-08 06:46] liushoukun opened #175 "Model 中应该不要用 request()->all() processData"
如果我在一个 job 或者 command 中添加 task  那就比较难了  只能依赖 web 和 api ，
把  EloquentTaskRepository.php  改造下   可否？

[2019-08-21 09:29] mrvnklm commented on #145
That needs to be fixed, thats critical!

[2019-08-27 08:54] michalper opened #177 "php artisan schedule:list cannot read tasks from Totem"
1. I've created new project on fresh Laravel 5.8.*.
2. I've added **"studio/laravel-totem": "^5.0"** to composer.json, nothing else.
3. Then I've created new task to scheduler using Totem form:
![Zrzut ekranu 2019-08-27 o 10 48 49](https://user-images.githubusercontent.com/6458084/63756282-5fe6a700-c8b8-11e9-8ec3-b0c76e2afd6b.png)
4. I've already had schedule:run in crontab:
** totem/artisan sched

[2019-08-27 08:55] michalper commented on #173
I've got the same problem. Added schedule:run to crontab. But totem cannot find any tasks and returns only:
**php artisan schedule:list
No Scheduled Commands Found**

I've created new project on fresh Laravel 5.8.*

[2019-08-27 09:36] ankit-aresourcepool commented on #173
i got the solution. please run php artisan cache:clear and after that totem find the task and will work fine

[2019-08-27 09:55] michalper commented on #173
@ankit-aresourcepool

My totem list:
![Zrzut ekranu 2019-08-27 o 10 48 49](https://user-images.githubusercontent.com/6458084/63761813-10a57400-c8c2-11e9-886f-e1c53447f7e1.png)

Do I need any special configuration in my .env or config files?

[2019-08-29 05:37] michalper commented on #177
When I defined my own **TOTEM_DATABASE_CONNECTION** in .env php artisan schedule:list didn't read task definitions from database. Totem Web UI worked properly.

But when I used default database connection, then schedule:list found tasks!

I think this is a bug.

[2019-08-29 05:37] michalper commented on #173
@ankit-aresourcepool

When I defined my own **TOTEM_DATABASE_CONNECTION** in .env php artisan schedule:list didn't read task definitions from database. Totem Web UI worked properly.

But when I used default database connection, then schedule:list found tasks!

Thanks for help :)

[2019-08-29 05:41] roshangautam commented on #177
Thanks for reporting and debugging. Sorry didn't get a chance to help, am pretty slammed at my day job at the moment. But feel free to submit a PR if you will and I will make sure I review, provide feedback and merge.

[2019-08-29 05:55] roshangautam commented on #175
I used google translate to understand your question and this is what I got :

"If I add a task to a job or command, it's harder to rely on the web and api. Transform
EloquentTaskRepository.php Can you?"

I quite didn't understand the problem and would appreciate if you can help me understand.

[2019-08-30 12:12] aleemb opened #178 "NFR: Allow custom endpoint"
Would be very useful to be able to change the URL from `/totem` to something else like `/tools/totem` or even `/tools/scheduler` etc.

[2019-09-04 19:39] blakehooks opened #179 "[PROPOSAL] Provide Support for SSL/TLS Termination"
Certain web hosts implement SSL and TLS termination technology, where the request shows as https in the browser but is passed around inside the network as an http request. This causes an issue when submitting the "Create Task" form as the url is https://domain.com/totem/tasks/create however the form action is set to http://domain.com/totem/tasks/create which causes the request to be redirected and

[2019-09-07 12:00] nachete1987 commented on #160
Hello
in my case, it was a BBDD problem.
Totem use in ran_at column the attribute 'useCurrent();' and my timezone database server was not correct.
Now, after change tz in BBDD server, time is registered correct.

[2019-09-07 14:26] roshangautam commented on #179
merged

[2019-09-07 14:26] #179 closed, assigned to nobody

[2019-09-08 17:25] nachete1987 opened #182 "email after job finish not received"
I dont know why i dont receive emails when job finish.
I configure the email notification but nothings happend.
the mail account is correctly configured and receive another emails and send mail with Mail::to satisfactorily

[2019-09-08 19:51] nachete1987 commented on #182
Close the issue, was a horizon supervisor queue problem, not a totem issue.
Thanks at all

[2019-09-08 19:51] #182 closed, assigned to nobody

[2019-09-23 11:02] Dbunny commented on #146
Hi, I'm getting that same message did you manage to find a solutions please? thanks

[2019-09-24 09:20] mailnike opened #184 "SQLSTATE[HY000] [1040] Too many connections (SQL: select * from `task_frequencies` where `task_frequencies`.`task_id` = 2 and `task_frequencies`.`task_id` is not null)"
Hi,

I am getting below error (quite possible that it is not directly relevant to this package but posting here as this table is created by this package).

Any idea what could be the reason? We using Totem on Laravel 5.8 with Laravel Telescope and Horizon. Is it because telescope adds a lot of entries and deleting them degrades the performance or is it because of some package limitations?

`
[code

[2019-09-24 11:27] alubina opened #185 "Pagination skips sort query params"
When sorting the task list by "Last Run" column and then selecting second page, query parameters are lost and the list is sorted back by task description. It's still possible to see the second page sorted by "Last run" column but only by manual link creation. I think the pagination should keep the query params used to sort the list

[2019-09-24 13:05] qschmick commented on #184
@mailnike Sorry to hear you're having issues. This isn't a specific issue with Totem but potentially an issue with your DB setup or how your codebase is running.
In general this issue highlights that you have too many connections already open to the database and this process attempted to open another.

You can fix this by increasing the max_connections setting within MySQL.

Some resources
- https

[2019-09-24 13:05] #184 closed, assigned to nobody

[2019-09-24 13:06] qschmick commented on #185
@alubina Thanks for bring this issue up. I'll try and take a look at it this week.

[2019-09-25 14:45] qschmick commented on #128
@Namoshek Just opened a PR to update to decimal

[2019-09-25 14:45] qschmick commented on #134
@Insolita Just opened a PR to update to decimal

[2019-09-25 20:51] qschmick commented on #169
@bondas83 We add an ability to toggle off broadcasting for Totem here https://github.com/codestudiohq/laravel-totem/pull/181

[2019-09-25 20:51] #169 closed, assigned to nobody

[2019-09-26 02:02] #185 closed, assigned to qschmick

[2019-09-27 09:55] oliworx opened #188 "Running out of memory with large task results"
I have a task that produces quite a lot of output.
When I want to view/edit the task details, an out-of-memory error occurs:

_Allowed memory size of 134217728 bytes exhausted (tried to allocate 23625728 bytes)_

But the whole table task_results is just 45MB in size.
So there must be some memory issue in this action.

[2019-09-27 16:16] qschmick commented on #134
Fixed in https://github.com/codestudiohq/laravel-totem/releases/tag/v5.2.0

[2019-09-27 16:16] #134 closed, assigned to qschmick

[2019-09-27 16:16] qschmick commented on #128
Fixed in https://github.com/codestudiohq/laravel-totem/releases/tag/v5.2.0

[2019-09-27 16:16] #128 closed, assigned to qschmick

[2019-10-13 11:24] benjamiis opened #191 "[REQUEST] compileParameters() do not works with multiple input options"
When defining an option that expects an array input, each option value passed to the command should be prefixed with the option name:
email:send {--id=*}

We can call it like this :
php artisan email:send --id=1 --id=2

but after a call to Task->compileParameters() only the last options value is used.
Resulting in this example to get a call like this one :
php artisan email:send --id=2

[2019-10-14 21:14] sergionader opened #192 "route:call"
Hey,

I am trying to run it with the comand
`route:call`
and using this as parameter:
`/api/v1/test?api_key=1234567890`

The response is
`The "/api/v1/test?api_key" argument does not exist.`
Note that the api_key values is omitted on the error message.

The same command:
`php artisan route:all /api/v1/test?api_key=1234567890`
runs on the command line.

What am I missing?

Thanks,

[2019-10-15 13:46] qschmick commented on #192
@sergionader A few quick questions
1) What version of Laravel are you running
2) Which version of Totem do you have installed
3) Is this a custom artisan command and if so can you provide the signature

The issue is with the way we are parsing the arguments provided so we can construct a call to `Artisan::call`. Since you have an `=` in the parameter string we assume that it is an option not an ar

[2019-10-15 13:57] qschmick commented on #191
@benjamiis We currently don't support that command signature. Since we iterate over the passed in string we are current just setting the arrays keys with the value. In the example case we create a parameter array and set the key of `id` to a value of `1`. We then override that with a value of `2`.

Feel free to open a PR to handle this case, I can try and take a look but it will take me a while to

[2019-10-15 15:24] qschmick commented on #188
@oliworx When you view a task it loads all of the tasks results. While the table only takes 45MB loading that data into classes takes of more memory. You get determine rough memory usage via tinker and `memory_get_usage`. There will be limitations on our end if you have massive outputs for the commands on what we can do to better display them. I have this used in a project with tasks that have lar

[2019-10-15 15:36] qschmick commented on #146
@prakhargvp or @Dbunny, This was an issue was we were not handling a single `-` but only the standard double `--`. This PR should fix https://github.com/codestudiohq/laravel-totem/pull/193

[2019-10-18 00:18] sergionader commented on #192
Hey, @qschmick!

Thanks for your reply.
1) Laravel Framework 5.8.35
2) "studio/laravel-totem": "^5.2",
3) I am not sure if I understood the question. What signature?

I may be doing something wrong and perhaps the question should be:
how do I schedule `/api/v1/test?api_key=1234567890`to run?

This is what I currently have working on my `app/Console/Kernel.php` file:
[code]

Regards!!!

[2019-10-18 11:45] gcdsm12 opened #195 "Bug on use table_prefix"
I add table_prefix to 'totem_' and generate this error:

SQLSTATE[42S02]: Base table or view not found: 1146 Table 'vrcg_core.totem_totem_totem_task_frequencies' doesn't exist (SQL: delete from `totem_totem_totem_task_frequencies` where `id` = 1)

I alter file TotemModel.php to check if already exist totem_ on name table. Please check and fix.

i changed to below:

<?php

namespace Studio\Totem;

[2019-10-21 23:58] qschmick commented on #192
@sergionader Thanks for the updated info. As for the command, is that a built in command as I'm not seeing it as valid in my repos running Laravel 5.8.35
I get this as output:
[code]

If you created this command, can you post the value of the `protected $signature` within the commands class file.

I've found this reference while looking:
https://gist.github.com/nasirkhan/63320617050f6f8490795e1760

[2019-10-22 00:03] qschmick commented on #195
@gcdsm12 Can you share where you added the `totem_` prefix? Was it within the config file?

Also, your message was cut off, looks like you were going to include additional information.

We already have a check in the `TotemModel.php` file on line 16 to check if the prefix is within the `parent::getTable` value.

Thanks for any extra insight.

[2019-10-22 00:04] qschmick commented on #160
@WBDC Checking on this, was the comment from @nachete1987 useful?

[2019-10-22 09:26] WBDC commented on #160
Hi @qschmick
I've uninstalled this package and developed my own so I don't know if it was useful or not.
I did tried changing timezones (back in April), but those changes didn't resolve the issue.

[2019-10-22 12:56] qschmick commented on #160
@WBDC Thanks for the feedback. As you are no longer using this and we haven't had any other people with this issue I'm going to close it. If you decide to retry Totem and encounter this please let us know and hopefully we can work through the issue.

[2019-10-22 12:56] #160 closed, assigned to nobody

[2019-10-22 16:37] gcdsm12 commented on #195
yes, i add in my config file config/totem.php.

my totemmodel and config file in attachment.

totemmodel I changes to working.

[TotemModel.php.txt](https://github.com/codestudiohq/laravel-totem/files/3757138/TotemModel.php.txt)
[totem.php.txt](https://github.com/codestudiohq/laravel-totem/files/3757139/totem.php.txt)

[2019-10-22 17:16] qschmick commented on #195
@gcdsm12 Thanks for the updated info. A few quick items

- What version of Totem do you have installed?
- We already have the `TotemModel` checking for the prefix (https://github.com/codestudiohq/laravel-totem/blob/5.0/src/TotemModel.php#L16)
- As an FYI, we setup the prefix in a const so you don't have to use the `config` call (https://github.com/codestudiohq/laravel-totem/blob/5.0/src/Providers/

[2019-10-23 14:33] sergionader commented on #192
Hey @qschmick, thanks for your reply.

Yes, you are right. I am using something else are you can see below:

[code]

Regardless of the above, the question is how can I run a given URL with some parameters, like the example mentioned before, `/api/v1/test?api_key=1234567890`.

I will use anything you recommend.

Thanks!

[2019-10-25 03:25] roshangautam commented on #146
good catch @qschmick . Closing this now. Feel free to reopen if the issue resurfaces

[2019-10-25 03:25] #146 closed, assigned to nobody

[2019-11-08 18:45] simonhamp opened #197 "[Proposal] Support customising the Notification used for the Executed event"
It would be great if we could customise the Notification class used when a task has completed. Currently, we're locked into the format of the `TaskCompleted` notification and this isn't always the format desired.

I propose allowing this to be an interface/contract that the current notification class will implement and bind into the container. This way, the developer's application can override thi

[2019-11-09 00:44] b-roberts commented on #177
I had this issue and it was related to how the ConsoleServiceProvider was getting loaded, or rather not getting loaded. The check that is in place to ensure the database is setup doesn't handle non-standard configurations well.
See https://github.com/codestudiohq/laravel-totem/pull/198

[2019-11-09 00:45] b-roberts commented on #173
I had this issue and it was related to how the ConsoleServiceProvider was getting loaded, or rather not getting loaded. The check that is in place to ensure the database is setup doesn't handle non-standard configurations well.
See https://github.com/codestudiohq/laravel-totem/pull/198

[2019-11-09 00:47] b-roberts commented on #115
I had this issue and it was related to how the ConsoleServiceProvider was getting loaded, or rather not getting loaded. The check that is in place to ensure the database is setup doesn't handle non-standard configurations well.
See https://github.com/codestudiohq/laravel-totem/pull/198

[2019-11-09 01:22] b-roberts commented on #159
The code is mostly setup for this. You only need to copy the views from this project into your own project and put them in `resources/views/vendor/totem`

See https://github.com/codestudiohq/laravel-totem/pull/199 to add a hook into the artisan command `php artisan vendor:publish` to do just this

[2019-11-09 01:30] b-roberts commented on #132
PR: https://github.com/codestudiohq/laravel-totem/pull/200

[2019-11-17 18:36] jagDanJu opened #203 "target class db does not exist"
Hey,
i´am tried to install laravel totem on a fresh installation of laravel (6) and get the following error:

![image](https://user-images.githubusercontent.com/3613218/69012052-7bba9000-0971-11ea-885c-514f792df4d7.png)

The database is configured correctly.

[2019-11-18 06:40] jagDanJu opened #204 "migration error on alter duration"
Hey,

after installing and executing "php artisan migrate" i´am getting the following error:

![image](https://user-images.githubusercontent.com/3613218/69029925-865b4080-09d6-11ea-9a27-0cab4048ac8e.png)

The point is following migration, which don´t work on postgresql:

![image](https://user-images.githubusercontent.com/3613218/69029993-9d9a2e00-09d6-11ea-998d-a517c3fadfb8.png)

[2019-11-19 20:26] gofishwbeeler commented on #204
Yeah, I'm getting the same.

I'm using Mysql, and Laravel 6.3+, PHP 7.2+ on Valet.

[2019-11-20 17:19] jtallant commented on #204
same issue here, mysql, Laravel 6.0, php 7.2

[2019-11-23 15:02] thindery commented on #204
I am having the same issue:

php 7.3.2
mysql 5.7.26
laravel 6.5.2

[2019-11-28 15:39] myorb commented on #204
+1

php: 7.3
postgres: 11
Laravel: 6

[2019-12-09 16:15] sergionader commented on #192
Hello, @qschmick

Any updates on this one?

[2019-12-10 14:44] qschmick commented on #192
@sergionader I don't have an answer at this moment. I asked about the commands signature. Can you provide that? It should look something like this:

[code]

This way I can figure out how your command is being parsed by artisan/Laravel and see what we can build to match it.

[2019-12-10 18:45] sergionader commented on #192
@qschmick,

Thanks for your reply. Please see below the full file, what includes the signature as well.

app/Console/Commands/CallRoute.php
[code]

[2019-12-13 23:03] b-roberts commented on #192
PR #196 should resolve this issue.

[2019-12-17 17:21] jorgemudry commented on #204
I've created a new PR to (at least temporarily) fix this issue: https://github.com/codestudiohq/laravel-totem/pull/207

[2019-12-17 20:44] thomasjohnkane opened #208 "Auto Discover Existing Schedules"
Is there a way to have existing schedules (in `Kernel.php`) auto-populate into this UI?

It seems that adding them via Totem creates a new command. I'd like to have them configured in `Kernel.php` still and have that stay in sync with Totem.

[2019-12-28 14:47] xyrintech opened #209 "Postgres Migrate Error"
`php artisan migrate`

throws following error:

[code]

[2019-12-30 18:58] jorgemudry commented on #204
Could anyone review the PR to fix the issue, please?

[2020-01-14 16:32] vesper8 commented on #204
@jorgemudry this PR is only for your new version 6? isn't that leaving all your v5 users in the dust? I haven't upgraded to Laravel 6 and now I can't use this package anymore

[2020-01-14 16:36] vesper8 opened #212 "allow users to use their own migrations instead of the ones inside the vendor folder"
Many other packages allow the user to use their own migrations instead of using the package ones.. this would have allowed us to resolve the error with the duration field quicker without needing to wait for you to merge a fix.. and there are other reasons why we might want this for example if we want to add extra custom columns.

Could you please add a configuration option which if set to true wou

[2020-01-14 16:38] qschmick commented on #212
@vesper8 I've never experienced that need or implementation. Do you have any examples of packages doing this? Always feel free to open a PR and we can review and get it incorporated. Thanks for the feedback :)

[2020-01-14 16:45] qschmick commented on #204
@vesper8 Just an FYI, @jorgemudry is just helping by opening the PR they aren't the maintainer.

[2020-01-14 16:48] vesper8 commented on #212
Here is an example of a popular package that does exactly this
https://github.com/cybercog/laravel-love/blob/master/config/love.php#L33-L43

I guess perhaps a more common practice is to have the user publish the migrations and then run those instead of running migrations from the vendor folder.

Some packages that I use that do this are
https://github.com/vsch/laravel-translation-manager
and
https

[2020-01-14 16:49] vesper8 commented on #204
ah my bad, I saw his name in a couple of places and assumed he was

[2020-01-15 16:24] gcdsm12 opened #213 "Database Connection"
Hello is possible change database_connection for Totem 3.x and Laravel 5.6
Param database_connection do not work in this version.

[2020-01-18 17:44] eFlowMedia opened #214 "Last Run Time Always in UTC"
Hello. I noticed that the Last Run time in the platform is UTC, while the Next Run time is the timezone set in the task.  The two tasks in the middle were run at 8:01 UTC, and the next scheduled run is 1/25 @ 00:01 PST.

<img width="711" alt="Screen Shot 2020-01-18 at 9 42 49 AM" src="https://user-images.githubusercontent.com/16480031/72668023-233a5a00-39d7-11ea-8cc6-61957fc8840c.png">

[2020-01-18 18:06] eFlowMedia commented on #214
Also I noticed that if the next run time (directly transposed to UTC), it will show that it will be skipped in showing in the Next Run.  I bit confusing so let me give an example.

The time for these jobs to be run are weekly on Saturday @ 00:01 (PST 1 0 * * * 6).  When I logged in last nigh(1/17 @ 10pm PST)t to make sure it was going to work correctly, it showed the next run time to be 1/25 @ 00:

[2020-02-03 11:27] syphernl opened #216 "Add optional parameters column in schedule:list"
It would be nice if `schedule:list` had an optional flag to show the parameters. This makes debugging a little easier, without needing to login to the web frontend.

[2020-02-06 21:32] andrewwindfall opened #217 "Class 'Str' not found"
/vendor/studio/laravel-totem/resources/views/tasks/view.blade.php
`
line 16:  <span class="uk-float-left">{{Str::limit($task->description, 80)}}</span>
`

This should be:
`
   <span class="uk-float-left">{{Illuminate\Support\Str::limit($task->description, 80)}}</span>
`
for laravel 6

[2020-02-17 17:00] timothyasp commented on #217
Add

[code]

to your `config/app.php` aliases list.

[2020-02-29 06:00] jhemmmm opened #219 "Two laravel app with one queue redis conenction"
Hello,

The Enable/Disable are a bit confusing.

And, I have 2 laravel app, both of them are using the same redis connection (IP) and both larvel app are trying to run both commands.

[2020-03-01 14:05] jhemmmm opened #220 "totem.php config not found"
Hello,

There's seem to be a little problem on moving the totem.php config file,

I can't find it on my config folder. I'll just try to post it here to get noticed. thank you

[2020-03-16 14:05] dejury opened #221 "Class 'Log' not found during composer install if no database connection"
Hi there,

I tried to install Totem via composer install --no-script this afternoon.
I did forget to fill in the right database credentials in Laravel, which made it impossible to connect to the database.
In that case when installing all the components from composer, totem fails on the TotemServiceProvider.php line 31. The Log class is not found.

Used versions:
PHP 7.2.17
Laravel Framework 6.12.0

[2020-03-18 10:37] dvagere opened #222 "Target class [] does not exist."
I installed laravel-totem and followed the steps provided on the documentation:

- php artisan migrate

- php artisan totem:assets

and when I tried to go to the {project}.test/totem I got that error. It doesn't specify any class name which makes it hard to debug.

Operating System:- Ubuntu 19.10.
Laravel Version:- Laravel Framework 6.18.0

![rsz_screenshot_from_2020-03-18_12-28-46](https://user-i

[2020-03-20 20:43] #221 closed, assigned to nobody

[2020-04-06 18:30] avfigueredo opened #225 "Could not find driver"
Hi, I getting this error below, I followed all instructions and the cron are working. I configured the variable TOTEM_DATABASE_CONNECTION with my default connection name. I tried clear cache. In dashboard everythings works fine, I can created, edit and remove.

`could not find driver (SQL: select * from [task_frequencies] where [task_frequencies]. [task_id] = 10 and [task_frequencies]. [task_id] i

[2020-04-24 11:51] mikaelmattsson commented on #145
This suddenly started happening to me too now. Can somone please fix this?

[2020-05-11 15:01] andrewskm opened #227 "Task Active State"
In the task entry, the "Enabled/Disabled" button always defaults to "Enabled", even if the is_active is set to false.

Including the active state as a column in the task list could also help a lot.

[2020-05-11 18:22] andrewskm commented on #227
Looking further into this, it seems like the "is_active" column isn't pulling in the correct value. Here is the data from the Totem model; it matches the original, so not sure if something is mutating the value:
![image](https://user-images.githubusercontent.com/18683087/81596317-dcaba980-9391-11ea-850a-913a1c52137c.png)
Here is the db entry:
![image](https://user-images.githubusercontent.com/1868

[2020-05-13 20:57] Iscrimou opened #228 "Is not a issue but a question"
To add version 5.x on my laravel 5.8 project should I use require command + ^5.x ?

[2020-05-13 21:35] Iscrimou opened #229 "Package doesn't work"
I'd follow the steps, but it doesn't work, any steps give no errors, but "mysite/totem" return 404. the assets are in vendor, not in the project folders, the tables are in my default connection, not in a "totem" connection

[2020-05-13 23:45] #228 closed, assigned to nobody

[2020-05-13 23:46] #229 closed, assigned to nobody

[2020-05-14 00:19] Iscrimou opened #230 "Tasks don't run"
The tasks that I added doesn't run, they run normally in crontab, but Totem not capture this

[2020-05-15 09:24] michalper commented on #177
@roshangautam @b-roberts any progress here?

[2020-05-16 11:27] HamzaDevz commented on #230
Is supervisor running ?

[2020-05-26 06:58] HamzaDevz opened #231 "[Testing] - How to disable totem completely"
Hello, first thanks for this awesome package.

In case of testing, it would be to be able to disable totem completely no ?

Currently I have this error when I run my tests : `SQLSTATE[42S02]: Base table or view not found: 1146 Table 'products_dev.task_frequencies' doesn't exist (SQL: select * from `task_frequencies` where `task_frequencies`.`task_id` = 2 and `task_
  frequencies`.`task_id` is not

[2020-05-26 07:59] HamzaDevz commented on #231
Temporary solution : Add `TOTEM_TABLE_PREFIX=testing` in `.env.testing`
Would be great to have a `TOTEM_ENABLE=false` like `telescope`

[2020-05-26 08:00] HamzaDevz commented on #220
You have to create it in your config folder

[2020-05-26 12:23] HamzaDevz opened #232 "Disable / Remove some tasks from env"
Hello,

I know that we have the filter but my workflow is :
First I create in local environment tasks then I import them to production environment.

If some tasks could be disabled by in the config it would be great 👍

As Laravel telescope :

[code]

[2020-05-30 10:01] #216 closed, assigned to nobody

[2020-05-31 21:16] eFlowMedia commented on #214
bump

[2020-06-02 05:40] vesper8 commented on #137
stale bot I do not like you.. this is still a valid request unless it has been added

[2020-06-02 05:40] vesper8 commented on #139
this is a confirmed bug.. unless it has been fixed then I don't think stale bot should be closing it

[2020-06-02 05:41] vesper8 commented on #212
this would still be a nice-to-have, if you don't want to add it I completely understand and you can close this issue.. but it shouldn't be stale bot's responsibility to do so

[2020-06-03 13:28] matthieumarais opened #233 "Cant install laravel-totem in my project"
Windows 10
laravel/framework": "5.8.*"
laravel/horizon": "^3.2"

When I execute this cmd `composer require studio/laravel-totem --ignore-platform-reqs`
I have this error ...
`Problem 1
    - Conclusion: remove laravel/framework v5.8.38
    - Conclusion: don't install laravel/framework v5.8.38
    - studio/laravel-totem 7.0.x-dev requires illuminate/notifications ^7.0 -> satisfiable by illuminate/n

[2020-06-04 02:29] roshangautam commented on #233
use Totem v5.x  with Laravel v5.8. This is shown in the compatibility matrix in readme. Also we align with the same support policy as Laravel when it comes to supporting old versions. You can find more details here : https://laravel.com/docs/7.x/releases

[2020-06-04 06:58] matthieumarais commented on #233
My bad sry ... it wasn't written big enough XD

Thanks a lot

[2020-06-04 06:58] #233 closed, assigned to nobody

[2020-06-07 18:41] #161 closed, assigned to nobody

[2020-06-07 18:41] #162 closed, assigned to nobody

[2020-06-07 18:41] #164 closed, assigned to nobody

[2020-06-07 18:41] #165 closed, assigned to nobody

[2020-06-07 18:41] #175 closed, assigned to nobody

[2020-06-07 18:41] #178 closed, assigned to nobody

[2020-06-07 18:41] #191 closed, assigned to nobody

[2020-06-07 18:41] #188 closed, assigned to nobody

[2020-06-07 18:41] #195 closed, assigned to nobody

[2020-06-07 18:41] #197 closed, assigned to nobody

[2020-06-07 18:41] #173 closed, assigned to nobody

[2020-06-07 18:41] #115 closed, assigned to nobody

[2020-06-07 18:41] #159 closed, assigned to nobody

[2020-06-07 18:41] #132 closed, assigned to nobody

[2020-06-07 18:41] #203 closed, assigned to nobody

[2020-06-07 18:41] #192 closed, assigned to nobody

[2020-06-07 18:41] #209 closed, assigned to nobody

[2020-06-07 18:41] #204 closed, assigned to nobody

[2020-06-07 18:41] #213 closed, assigned to nobody

[2020-06-07 18:41] #217 closed, assigned to nobody

[2020-06-07 18:41] #219 closed, assigned to nobody

[2020-06-07 18:41] #222 closed, assigned to nobody

[2020-06-12 20:55] #225 closed, assigned to nobody

[2020-06-19 09:54] matthieumarais opened #239 "Cache problem when update task"
Windows 10
Laravel 5.8
Totem 5.2

In production, when I update my task, the tasks page is update but when I click on my task I still see the old values.

Work find in dev.

Need help please

[2020-06-30 12:47] #145 closed, assigned to nobody

[2020-07-02 10:52] phuthoma commented on #13
Dear @roshangautam,

I'll be quite happy to translate your module into Polish. Have you changed all hardcoded lines to translatables phrases and prepeared [en] translation file?

[2020-07-02 21:17] #208 closed, assigned to nobody

[2020-07-03 12:46] phuthoma opened #240 "Totem task disabled, but still running"
Problem: Totem scheduled tasks are still running, even if they are disabled (value in db is correct => 'is_active'=0). Any solutions for this?

### System details
- Laravel: v5.5.49
- Totem: v2.4.1

[2020-07-06 07:32] phuthoma opened #241 "Not enough arguments (missing: ...), when task executed automatically"
When my task is fired manually with EXECUTE button, command works like as a charm. But when the same taks is fired by 'totem frequencies' it crashes with missing argument error:

![totem](https://user-images.githubusercontent.com/55592437/86567328-7e530f80-bf6b-11ea-8ec5-5d9aebecc776.png)
![totem2](https://user-images.githubusercontent.com/55592437/86567330-801cd300-bf6b-11ea-8cdf-303d4c33fe31.png

[2020-07-06 07:53] phuthoma commented on #241
OK, I have just figured out it was a cache problem:

[code]
solved the issue..

[2020-07-06 07:53] #241 closed, assigned to nobody

[2020-07-06 08:01] phuthoma commented on #240
OK, I have just figured out it was a cache problem:

[code]
solved the issue..

[2020-07-06 08:02] #240 closed, assigned to nobody

[2020-07-14 12:38] royduin commented on #220
`php artisan vendor:publish --tag=totem-config` 👍

[2020-07-15 13:53] royduin opened #243 "Create task programmatically"
I'd like to create tasks from a migration which isn't that pretty because the `HasFrequencies` trait uses the request. Ended up with:
[code]

It should be refactored so manipulating the request isn't necessary.

[2020-07-17 19:47] #227 closed, assigned to nobody

[2020-07-21 10:22] #177 closed, assigned to nobody

[2020-07-22 12:19] #230 closed, assigned to nobody

[2020-08-01 09:39] #231 closed, assigned to nobody

[2020-08-01 13:39] #232 closed, assigned to nobody

[2020-08-03 11:01] aldozumaran commented on #209
same problem!!

  SQLSTATE[42804]: Datatype mismatch: 7 ERROR:  column "duration" cannot be cast automatically to type numeric
HINT:  You might need to specify "USING duration::numeric(24,14)". (SQL: ALTER TABLE task_results ALTER duration TYPE NUMERIC(24, 14))

[2020-08-04 06:49] aldozumaran commented on #209
how did you solve it?

[2020-08-06 01:14] prakhargvp commented on #214
@roshangautam. I'm also geeting same issue.

- This Task is running on hourly basis. But last run showing wrong time.

![image](https://user-images.githubusercontent.com/7056772/89479587-d40c1900-d7b0-11ea-82c8-d0e4b09c37b0.png)

![image](https://user-images.githubusercontent.com/7056772/89479567-cb1b4780-d7b0-11ea-894d-36ab18127041.png)

If you see ran_at is in UTC. While created_at and updated_a

[2020-08-08 07:07] #137 closed, assigned to nobody

[2020-08-08 07:07] #139 closed, assigned to nobody

[2020-08-08 07:07] #212 closed, assigned to nobody

[2020-08-10 05:40] #135 closed, assigned to nobody

[2020-08-10 05:40] #120 closed, assigned to nobody

[2020-08-25 12:05] #239 closed, assigned to nobody

[2020-09-08 20:25] nickfls opened #244 "Add support for Laravel 8"
Will it be possible to add support for Laravel 8?

[2020-09-11 10:46] aldozumaran opened #245 "Migration problem"
I can't istall package, i have a problem with migration
![image](https://user-images.githubusercontent.com/3183704/92915218-a5770300-f42c-11ea-88a1-f91ce963e269.png)

postgresql 12
php 7.4
ubuntu 18.04

[2020-09-15 17:28] nickfls commented on #145
For anyone seeking answer (as I just hit this issue):

1. Disable Totem via composer
[code]

2. Dump autoload
[code]
3.  Clean cache
[code]
4. Undo step one:
[code]
5.  Composer dump, re-run migrations
[code]

Ta-da.

[2020-09-19 13:20] #220 closed, assigned to nobody

[2020-09-20 17:31] #243 closed, assigned to nobody

[2020-09-23 15:50] rconte84 commented on #244
Any news?

[2020-09-24 00:08] roshangautam commented on #244
feel free to send a PR, I would be more than happy to review and merge

[2020-09-25 13:26] inoprime commented on #244
#249 Added please merge ASAP.

[2020-10-09 07:21] akimkelar opened #250 "Migration is failed on Postgres"
Migration is failed on Postgres with error:
`Doctrine\DBAL\Driver\PDOException::("SQLSTATE[42804]: Datatype mismatch: 7 ERROR:  column "duration" cannot be cast automatically to type numeric
HINT:  You might need to specify "USING duration::numeric(24,14)".")`

Caused by query
`ALTER TABLE task_results ALTER duration TYPE NUMERIC(24, 14)`
in script
vendor/studio/laravel-totem/database/migrations/2

[2020-10-09 07:26] akimkelar commented on #250
Solved like this
[code]

[2020-10-12 02:08] #214 closed, assigned to nobody

[2020-10-20 13:06] Drivez commented on #244
Any news on this?

[2020-10-26 20:32] qschmick commented on #250
@akimkelar Should be fixed in my PR #251

[2020-10-26 20:33] qschmick commented on #245
@aldozumaran Should be fixed in my PR #251

[2020-10-27 13:21] qschmick commented on #245
Fixed in release https://github.com/codestudiohq/laravel-totem/releases/tag/v7.0.2

[2020-10-27 13:21] #245 closed, assigned to nobody

[2020-10-27 13:21] qschmick commented on #250
Fixed in release https://github.com/codestudiohq/laravel-totem/releases/tag/v7.0.2

[2020-10-27 13:21] #250 closed, assigned to nobody

[2020-10-28 06:26] daniel-g-wood commented on #244
Just created [#253 ](https://github.com/codestudiohq/laravel-totem/pull/253) which also upgrades the model factories.

[2020-10-29 12:35] ghost opened #254 "Gotting Be Right Back in production"
I'm with totem installed in development and prodution, in development everything work fine, but when I try to access totem route in production I got "Be Right Back" message from laravel.

Anybody knows why this happening and how can I debug it?

[2020-10-29 13:00] qschmick commented on #254
@tribunaldoconsumidor A couple of questions:
- What version of Laravel are you running
- What version of Totem do you have installed
- Are you able to access any other portions of your site/project in production?

The "Be Right Back" message is the message when you application is in maintenance mode. If you are not able to access anything in production then you might need to bring your app up or y

[2020-10-29 13:06] ghost commented on #254
@qschmick Laravel 8
I'm using one version of Totem that I forked to support laravel 8, but the changes in this fork is just version of libs as I said to support laravel 8

I'm pretty able to access any other part of project in production, just Totem give me back "Be Right back" message.

The .env file is there and configured

[2020-10-30 06:02] daniel-g-wood opened #255 "Migrations fail on MySQL 8"
I've run the migrations against a MySQL database, and they are failing on the following migration:
``2019_09_25_103421_update_task_results_duration_type``

with the following error:
``
SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'character set  collate '

[2020-10-30 09:40] aldozumaran commented on #250
![image](https://user-images.githubusercontent.com/3183704/97689669-3c128880-1a9c-11eb-9303-3c9c8530b3af.png)

[2020-10-30 13:09] qschmick commented on #255
@daniel-g-wood Yes please open the PR, really appreciate it. This was my bad doing too many updates at once between this, work, and a few other projects. Meant to drop those lines and didn't 🤦 Thanks

[2020-10-30 15:29] roshangautam commented on #244
#253 has been merged and released. Thank you @daniel-g-wood

[2020-10-30 15:29] #244 closed, assigned to nobody

[2020-11-10 01:54] daniel-g-wood commented on #255
Closed the previous issue (with messy commit history) and opened this one instead: #258.

[2020-11-16 01:42] apiruknetway opened #260 "Migrate Error Tag v8.0 not update file 2019_09_25_103421_update_task_results_duration_type.php (20 day)"
Please tag version 8.0.1 to update file

branch 8.0
https://github.com/codestudiohq/laravel-totem/blob/8.0/database/migrations/2019_09_25_103421_update_task_results_duration_type.php (6 day)

tag v8.0 not update
https://github.com/codestudiohq/laravel-totem/blob/v8.0/database/migrations/2019_09_25_103421_update_task_results_duration_type.php (20 day)

[2020-11-16 13:52] qschmick commented on #260
@apiruknetway Please see https://github.com/codestudiohq/laravel-totem/releases/tag/v8.0.1

[2020-11-16 13:52] #260 closed, assigned to nobody

[2020-11-16 13:53] qschmick commented on #255
Fixed in both v7 and v8.
https://github.com/codestudiohq/laravel-totem/releases/tag/v7.0.3
https://github.com/codestudiohq/laravel-totem/releases/tag/v8.0.1

[2020-11-16 13:53] #255 closed, assigned to nobody

[2020-11-17 01:28] apiruknetway commented on #260
Thank you very much. @qschmick

[2020-12-07 18:03] viccatoff opened #262 "Totem 6.x +Postgresql = column "duration" cannot be cast automatically to type numeric"
I have an error while migrating database:

[code]

 I know it was fixed in https://github.com/codestudiohq/laravel-totem/pull/251, but it's not fixed for version 6.x. Do you support this version? I'm using it, because we can't update right now to laravel 7/8.

[2020-12-11 13:41] inoprime commented on #254
Same error here. Just trying to access totem tasks list and gotting "Be Right Back" message.

The entire application its working normaly just totem gotting this error.

[2020-12-11 14:16] inoprime commented on #254
The behavior what I indetify is, when my .env is with APP_ENV=production, I got "Be Right Back" message, but when APP_ENV=local it works.

How do I do to APP_ENV=production release the access to totem?

[2020-12-31 20:10] katesaikishore opened #264 "Failed to connect to Pusher."
I have turned off the pusher in

[code]

But still gets the error pusher failed to connect

[2021-01-13 23:39] jonah-dev opened #265 "Allow database cache driver for onOneServer"
Per the documentation: https://laravel.com/docs/8.x/scheduling#running-tasks-on-one-server

You should be able to use onOneServer() when using the database driver, but it's currently not supported here. Is there any reason to disallow the use of the database driver? If not, I can create a pull request for this.

https://github.com/codestudiohq/laravel-totem/blob/8.0/src/Providers/ConsoleServicePro

[2021-01-20 09:13] CrazyBoy49z opened #268 "Fix search if url ?q not isset"
In production if request totem/tasks show empty tasks, if add totem/tasks?q= tasks shows

![image](https://user-images.githubusercontent.com/3448603/105152751-4464e780-5b10-11eb-86e5-cb1197235158.png)

[2021-01-20 13:41] qschmick commented on #268
@CrazyBoy49z Can you please provide a few extra details to help with debugging this issues:
- What PHP version
- What Laravel version
- What Totem version

[2021-01-20 13:43] qschmick commented on #265
@jonah-dev Feel free to open a PR for review.

[2021-01-20 13:46] qschmick commented on #262
@viccatoff Can you open a PR with the fix from #251 pointing to the 6.x repo and we can take a look at that?

[2021-01-21 15:38] CrazyBoy49z commented on #268
php: 7.4
Laravel Framework: 8.22.1
laravel-totem: "^8.0"

[2021-02-03 00:12] jonah-dev commented on #265
@qschmick I believe this can be closed. Not sure if you wish to link the PR associated with it. https://github.com/codestudiohq/laravel-totem/pull/269 but I don't seem to be able to.

[2021-02-03 14:43] #265 closed, assigned to nobody

[2021-02-05 06:42] daniel-g-wood opened #271 "Results failing with new use of storage facade"
With the addition of the storage facade, the results are now failing to be stored in the database, as Storage::exists() never finds the file that has been created by the output from the scheduled task (at least this is the case on a default setup of Laravel). I believe this issue may have been introduced in PR #257. I'm working on a pull request to fix this, in addition to adding a couple more com

[2021-02-09 20:02] ikudosi opened #273 "Base table or view not found in phpunit"
I am using a separate test DB for phpunit as well as RefreshDatabase trait and am only able to successfully run tests every other time. First time it would fail with something like "PDOException: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'test.totem_tasks' doesn't exist". If I run it again, it will succeed. Run it once more and it goes back to failing.

I have a .env.testing where

[2021-02-10 01:03] ikudosi commented on #273
Here's the stacktrace.

 ```/home/vagrant/b2b/tests/TestCase.php:74``` is essentiall calling ```parent:setup()``` which is ```Illuminate\Foundation\Testing\TestCase```.

```/home/vagrant/b2b/tests/TestCase.php:60``` is doing ```$this->artisan('migrate');```

[code]

[2021-02-10 15:02] #271 closed, assigned to nobody

[2021-02-16 21:26] #273 closed, assigned to nobody

[2021-02-16 21:28] ikudosi commented on #273
Was able to resolve on my own. I am overriding the `refreshTestDatabase` method and was doing `$this->artisan('cache:clear');` right after migration / seeds. Moving the cache:clear command to the very top resolved it for me.

[2021-02-16 22:20] qschmick commented on #273
Thanks @ikudosi for responding back and giving details on the issue. Appreciate that!

[2021-03-09 01:21] #264 closed, assigned to nobody

[2021-03-18 04:24] daniel-g-wood opened #275 "[Proposal] Notifications for Failed Tasks Only"
Currently, notifications can only be sent when a task is executed. When there are a lot of scheduled tasks, each running at relatively frequent intervals, the amount of notifications can potentially get quite overwhelming, and failed tasks might be lost in all the 'noise'.

I'd like to work up a PR that allows notifications to only be sent when a task fails, i.e. in the interface, add a checkbox u

[2021-03-18 15:33] qschmick commented on #275
@daniel-g-wood I think that would be a great feature.

[2021-03-19 03:22] daniel-g-wood commented on #275
Great, I'll start work on it!

[2021-03-19 09:50] CrazyBoy49z opened #276 "Disable logs"
How to disable run totem logs?

[2021-03-24 13:21] ketbla opened #277 "Schedule list not refreshing after creating new task"
Hi,

I'm using Totem but noticed that Totem doesn't pick up new tasks unless I clear:cache. However if I delete a task - it the refreshes the list. Why comes it doesn't refresh after creating new task?

[2021-03-24 13:58] ketbla commented on #277
According to listeners and events, it should bust cache when adding new task, but that's not working in my case.
I'm using Redis driver for cache.

protected $listen = [
        'Studio\Totem\Events\Created'     => ['Studio\Totem\Listeners\BustCache', 'Studio\Totem\Listeners\BuildCache'],
        'Studio\Totem\Events\Updated'     => ['Studio\Totem\Listeners\BustCache', 'Studio\Totem\Listeners\Buil

[2021-03-24 16:30] bondas83 commented on #277
Maybe you forgot start queues

[2021-03-26 14:57] ikudosi opened #278 "Task Results not updating on L8"
I am noticing that on L8, the task results are no longer being created. I am 100% certain the tasks are firing because even before implementing Totem, I have separate jobs table to timestamp when each one has fired from within the console command class itself.

I initially implemented this on L6 and was working then... so I'm not sure if I missed something or this is an actual bug.

[2021-03-26 15:41] ikudosi commented on #278
Also want to add that if I manually execute the task through the Totem dashboard, the task result is created.

[2021-03-28 18:45] #262 closed, assigned to nobody

[2021-03-29 21:22] s1rc opened #280 "Commands Not Running Even Though Listed"
Just switching from manually scheduling tasks into Totem. Everything is imported and `php artisan schedule:list` shows all commands correctly. However none of the commands run at their scheduled time, though manually executing through Totem does work.

Trying to debug locally if I create command to simply log an output, it shows up in list:

![image](https://user-images.githubusercontent.com/20739

[2021-03-30 00:34] #268 closed, assigned to nobody

[2021-03-30 07:14] CrazyBoy49z commented on #268
up

[2021-03-30 07:16] CrazyBoy49z commented on #276
#129

[2021-03-30 07:17] #276 closed, assigned to nobody

[2021-04-01 00:36] ikudosi commented on #280
I also noticed the commands were not running when upgrading to latest version. I downgrade to version 8.0.4 and tasks are now running however I don't see any execution results.

[2021-04-02 13:19] s1rc commented on #280
@ikudosi thank you that did work, but no execution results as you mentioned.

[2021-04-08 09:20] daniel-g-wood commented on #278
I had a similar problem and it was related to the storage facade issue that I recently created a fix for (#271). Are you using the latest version of totem?

[2021-04-08 10:15] daniel-g-wood commented on #280
@ikudosi, @s1rc, Unfortunately, downgrading to 8.0.4 may not work because of the bug introduced in 8.0.3 (see #271). Can you try using version 8.0.2 and see if the issue persists? I've tried a few different things (including creating a new app with a task in Totem and running schedule:test) and I'm not able to reproduce the issue (the task still executes and adds to the results).

Are you getting

[2021-04-08 13:11] ikudosi commented on #278
@daniel-g-wood When this issue was created I was version 8.1.1. I believe when I initially upgraded to L8 at the time it was on 8.0.4 and tasks were running but noticed no results being recorded. Then I upgraded to 8.1.1 in hopes it would have been corrected but turned out for the worst.

[2021-04-08 13:29] s1rc commented on #280
@daniel-g-wood trying with 8.0.2, the tasks are running but no results. Now we are getting which wasn't in the logs with 8.0.4.

[code]

[2021-04-08 13:42] ikudosi commented on #278
@daniel-g-wood would a `return 1` in the Command class prevent the results being generated for 8.1.1 if you're saying it's fixed? I just noticed that all of our handle() methods in the console commands return a 1 (although generating a new command defaults to return 0).

[2021-04-09 06:55] daniel-g-wood commented on #278
I don't believe a return value of 1 would stop the results being generated as the exit code from the Artisan command is not currently being stored or checked. Although you should be returning 0 if the command is successful.

I'm at a bit of a loss without being able to reproduce the error myself.  If you create a task in totem for a standard Artisan command (e.g. `list` or `help`), then run `sched

[2021-04-09 07:02] daniel-g-wood commented on #280
@s1rc It doesn't look like going backwards is going to solve this. This might be the same issue as #278. Try using a standard Artisan command, and setting the queue driver to `sync`, and attempting to execute the command via the totem dashboard and also via `schedule:test` and see if you end up with any results in the database then.

[2021-04-09 12:40] s1rc commented on #280
The default queue connection is already `sync` since we override already to different queues per job.

Manually triggering each job from Totem already worked ok, even on v8.1.1. The results display in Totem.

[2021-04-26 16:20] VladStulikov-Appnovation opened #282 "Validation of parameters for frequencies WeeklyOn and MonthlyOn does not work"
Although Totem config describes types (number) and min/max for the frequencies parameters actually there is no validation done, therefore it is possible to save for example MONDAY as a parameter value and it breaks down all Totem: task list stops working, task editing stops working

[2021-04-26 16:23] VladStulikov-Appnovation opened #283 "[PROPOSAL] Execution log should highlight failed tasks"
If a scheduled command returns a non-zero value it would be very helpful to highlight the task run in the Execution Log

[2021-04-28 15:39] fedexsca opened #284 "Between and Unless Between frequencies doesn't work"
When a frequency 'Between' or 'Unless Between' is added, the task is created without the corresponding configuration. The cron job shows * in the hours position and the task is executed at all hours regardless the configuration.

[2021-05-11 05:53] krzar opened #286 "Cannot install on Laravel 8"
There is problem to install package with Laravel 8, composer throws this error:

`studio/laravel-totem v8.1.1 requires doctrine/dbal ^2.9 -> found doctrine/dbal[v2.9.0, ..., 2.13.x-dev] but the package is fixed to 3.1.0 (lock file version) by a partial update and that version does not match. Make sure you list it as an argument for the update command.`

Totem is using dbal 2.9, when laravel 8 is u

[2021-05-11 16:00] qschmick commented on #286
@KrystianZareba Can you try deleting your `composer.lock` file and try again?

[2021-05-12 22:25] pastocaza opened #287 "Cannot install on Laravel Vapor"
There is an error when you deploy the code to vapor in the deployment hook.

[code]

It works normally on forge, local, and digitalocean.

[2021-05-13 03:09] qschmick commented on #287
@iRynoh Are you sure the issue is with this library? We don't use AWS S3 which appears to be the issue with the call to PutObject

[2021-05-13 03:28] pastocaza commented on #287
It's weird for me too, but I removed the package and the deployment worked again 🤔 I will try to reproduce it in a fresh laravel app.

[2021-05-17 07:15] mathias1981 commented on #286
@qschmick same problem for me, and i tried deleting the composer.lock file, the problem persists.

[2021-05-21 14:05] hanmuja-juango commented on #286
same problem here, any solution?

[2021-05-25 01:59] qschmick commented on #168
Thanks @bondas83 for the fix in PR #285.

[2021-05-25 01:59] #168 closed, assigned to nobody

[2021-05-25 04:41] ikudosi commented on #280
Updated to latest version (8.1.3) and still cannot get this to work. I see the test.txt being created but tasks are not firing on its scheduled time. Manually executing the task works by clicking on the checkmark.

When I run `php artisan schedule:list` this is the output:

![image](https://user-images.githubusercontent.com/5790073/119497475-9f168600-bd32-11eb-96c7-bd1bf587d430.png)

[2021-05-28 07:34] #275 closed, assigned to nobody

[2021-05-31 04:47] #277 closed, assigned to nobody

[2021-06-03 08:06] saaiful opened #289 "Record Limit"
Limiting records in the database for totem is important.  I just purged 2Gb data from my database.  Please add an option in config to set the max record limit.

[2021-06-09 15:22] #254 closed, assigned to nobody

[2021-06-11 15:13] qschmick commented on #289
@saaiful This already exists on a per command basis. When you create/edit a command you can set a limit on number of records or age of records and the system will auto purge results over that limit.

E.g.
Number limit of 5000 it will delete all records over the 5000th
Age limit 5 days it will delete all records older than 5 days

[2021-06-11 15:13] #289 closed, assigned to nobody

[2021-06-15 10:07] #278 closed, assigned to nobody

[2021-06-16 15:46] hihuangwei commented on #286
希望可以修复

[2021-06-21 15:06] aberaldo commented on #286
@qschmick i have the same issue. I cannot install totem in laravel 8! Any idea? Thanks

[2021-06-29 13:50] s1rc opened #290 "L8 Cannot Install Table Missing"
Running command `composer require studio/laravel-totem` results in the following error:
[code]

Seems obvious, but we can't run the migration without the package installed.

[2021-07-02 21:18] #282 closed, assigned to nobody

[2021-07-02 21:18] #283 closed, assigned to nobody

[2021-07-05 02:08] #284 closed, assigned to nobody

[2021-07-12 04:40] #287 closed, assigned to nobody

[2021-07-21 07:02] kanhaiyam opened #291 "Totem schuduler works fine but command not being executed?"
I have a bunch of Commands scheduled in totem.
Totem works fine on the surface firing the commands, but it doesn't executes the actual command.
It logs the executing and executed stages of the task, but the actual command doesn't gets executed. Also there is no entry for the task in task_results.
Totem executed the task successfully according to logs but it didn't actually execute it.

[code]

[2021-07-21 11:59] qschmick commented on #291
@kanhaiyam Which version of Totem are you running? I've seen this once before and it had to do with cache. There was an update to Totem a little while ago to bust the cache. As a quick suggestion try running the following on the server:

[code]

[2021-07-21 16:54] kanhaiyam commented on #291
@qschmick I am using **_v8.1.4_**

it is not an issue with cache. The _BustCache_ and _BuildCache_ events are working fine as expected. The result for **``` php artisan schedule:list```** is as expected with all the scheduled tasks being listed.

[2021-07-23 16:20] kanhaiyam commented on #291
@qschmick  Found the solution.

Actually what was happening was totem while executing tasks creates a temp log file at **storage/app/totem/**, which **_```shell```_** didn't have access for.
Fixed the file/folder permission and the totem scheduler started working.

What I don't get is why it is creating a file in the first place if it is mean to be deleted later after execution.

[2021-07-26 06:25] #291 closed, assigned to nobody

[2021-07-26 06:40] kanhaiyam commented on #280
@s1rc @daniel-g-wood  Found the solution.

There are a few Laravel protocols that you know and understand before I give you the solution to this,
When executing a task from totem dashboard, that task is being executed by PHP.
Similarly, when a job gets executed by the scheduler weather using **```schedule:test```** OR **```schedule:run```**, it gets executed by _**shell**_.

Now, since the schedul

[2021-07-29 19:02] kanhaiyam commented on #280
@s1rc @daniel-g-wood Can you guys please verify if it solved your issue.

[2021-07-30 06:53] shijie1991 commented on #280
Laravel Framework 8.51.0
versions : * v8.1.4

无法自动运行

[2021-07-30 09:08] shijie1991 opened #292 "Cannot be executed automatically"
Laravel 8.51.0
totem v8.1.4

![image](https://user-images.githubusercontent.com/11606404/127629982-1fb22975-0a9c-426c-9ade-00dd98aad5ce.png)

![image](https://user-images.githubusercontent.com/11606404/127630027-ef75980c-6d0b-4bc8-b8d1-6c85e37619f0.png)

![image](https://user-images.githubusercontent.com/11606404/127630081-92c15d7c-460b-400c-87c1-b7d2be62e277.png)

![image](https://user-images.git

[2021-08-01 16:57] kanhaiyam commented on #292
**Could you please elaborate what the issue is?**

[2021-08-02 01:31] shijie1991 commented on #292
Laravel 8.51.0
totem v8.1.4
1. 设置定时任务 并将输出打印到文件
![image](https://user-images.githubusercontent.com/11606404/127629982-1fb22975-0a9c-426c-9ade-00dd98aad5ce.png)
 2.查看输出的 corn 日志(已执行)
![image](https://user-images.githubusercontent.com/11606404/127630027-ef75980c-6d0b-4bc8-b8d1-6c85e37619f0.png)
 3.test 文件 将 记录日志到 laravel.log
![image](https://user-images.githubusercontent.com/11606404/127630081-92c15

[2021-08-02 08:27] shijie1991 commented on #292
I use Alibaba Cloud as file storage

`$event->cron($task->getCronExpression())
                ->name($task->description)
                ->timezone($task->timezone)
                ->before(function () use ($task, $event) {
                    $event->start = microtime(true);
                    Executing::dispatch($task);
                })
                ->after(function () use ($event, $task)

[2021-08-04 02:54] shijie1991 opened #293 "Cannot be executed automatically"
I use Alibaba Cloud as file storage

`$event->cron($task->getCronExpression()) ->name($task->description) ->timezone($task->timezone) ->before(function () use ($task, $event) { $event->start = microtime(true); Executing::dispatch($task); }) ->after(function () use ($event, $task) { Executed::dispatch($task, $event->start ?? microtime(true)); }) ->sendOutputTo(Storage::path($task->getMutexName()));

[2021-08-04 02:55] #292 closed, assigned to nobody

[2021-08-05 06:21] shijie1991 commented on #293
Can I only use local storage????

[2021-08-06 13:02] s1rc commented on #280
@kanhaiyam I'd love to try but I can't even install totem anymore on a local env.  https://github.com/codestudiohq/laravel-totem/issues/290

[2021-08-06 20:38] kanhaiyam commented on #290
Have you had totem installed before and are trying to reinstall.
 Anyways, try this -> #145

or try it on a fresh installation.

[2021-08-09 18:00] shawnheide opened #294 "[Proposal] add support for environment constraints"
Just wanted to see if there was any interest in adding support for the [environment constraints](https://laravel.com/docs/8.x/scheduling#environment-constraints) option? I'm happy to look into it further and submit a PR.

[2021-08-10 14:52] qschmick commented on #294
@shawnheide What is the use case you're thinking of for this? The totem tasks are stored in the DB. Would this be for running multiple instances of code against the same DB/Schema?

I'm open to the idea just wonder what value it brings

[2021-08-11 17:02] shawnheide commented on #294
@qschmick I was just looking into switching to totem, so I think I didn't think through that it's stored in the DB. Agreed, probably not necessary. Thanks.

[2021-08-11 17:02] #294 closed, assigned to nobody

[2021-08-12 18:11] shawnheide opened #295 "[Proposal] Replace storage logs by passing output directly to events"
Not sure if there is another reason for using the storage logs, but they could be dropped by passing the output directly to the events using `thenWithOutput` in the ConsoleServiceProvider. I already made the changes and tested it locally, but let me know if there is anything else to consider.

[Branch with changes](https://github.com/uwpsych/laravel-totem/tree/refactor/feature%2Fdrop-storage)

[2021-08-13 08:28] shijie1991 commented on #295
支持!!!

[2021-08-13 11:18] qschmick commented on #295
@shawnheide Firstly, thanks for the contribution and work. Secondly, yes, please open this PR. 🚀

[2021-08-13 11:19] qschmick commented on #293
@shijie1991 Apologies for the lack of response, work and life have been busy. #295 Looks to solve this issue. I'm going to close this issue in favor of that one with a proposed solution.

[2021-08-13 11:19] #293 closed, assigned to nobody

[2021-08-13 11:23] qschmick commented on #280
@kanhaiyam Please see #295 as there is a proposed solution to remove the local storage usage. Additionally, I had a similar issue of some commands running and others not when I used the do not overlap functionality. One of the jobs errors but the mutex entries were created by Laravel already but not cleaned up and they persisted. I could manually run but when running the commands via `schedule:run

[2021-08-13 11:41] qschmick commented on #286
@KrystianZareba @marcoocram @hanmuja-juango @hihuangwei @aberaldo PR https://github.com/codestudiohq/laravel-totem/pull/296 opened with update to 3.x for dbal.

[2021-08-13 13:08] kanhaiyam commented on #280
@qschmick This seems promising.

[2021-08-13 14:22] shawnheide commented on #295
Happy to help. I just submitted the PR.

[2021-08-13 19:48] #295 closed, assigned to nobody

[2021-08-13 19:51] qschmick commented on #280
New version released (https://github.com/codestudiohq/laravel-totem/releases/tag/v8.2.0). Let us know if it fixes the issue.

[2021-08-13 20:06] kanhaiyam commented on #280
Thanks for the notification. Will check the results and get back to you soon.

[2021-08-16 04:17] locnguyen1842 opened #300 "Got lazy load [frequencies]"
Hi, I got a lazy load exception on the tasks list view when the model `preventLazyLoading` turned on in laravel 8
Exception message:
`Attempted to lazy load [frequencies] on model [Studio\Totem\Task] but lazy loading is disabled.`

[2021-08-17 20:46] s1rc commented on #290
@kanhaiyam thank you that fixed it.

[2021-08-17 20:50] #290 closed, assigned to nobody

[2021-08-17 21:03] s1rc opened #301 "Totem task_frequencies queries present in every request"
Every request made outside of Totem routes still has totem queries such as:

[code]
and
[code]

Is there a reason these queries and cache hits are running on all requests?

[2021-08-20 16:47] o-kima commented on #301
what cache driver do you use?

[2021-08-25 15:49] s1rc commented on #301
Redis.

[2021-08-25 16:11] o-kima commented on #301
This happens as totem register his task to the scheduler in every app bootstrap, and not only in Console Kernel.
Here is my [Pull Request](https://github.com/codestudiohq/laravel-totem/pull/299) for this.

[2021-08-25 16:57] o-kima commented on #301
Added new PR for that specific frequencies query
https://github.com/codestudiohq/laravel-totem/pull/302

[2021-08-26 13:02] s1rc commented on #301
@o-kima awesome thank you. Hopefully your PRs can be reviewed soon.

[2021-09-02 14:34] oliworx opened #303 "Pusher error: The data content of this event exceeds the allowed maximum (10240 bytes)"
**Illuminate\Broadcasting\BroadcastException**
Pusher error: The data content of this event exceeds the allowed maximum (10240 bytes). See https://pusher.com/docs/channels/server_api/http-api#publishing-events for more info

One of the artisan commands is pruducing more than 300 lines of output.

Totem Version: 6.0.3

My workaround was to set `TOTEM_BROADCASTING_ENABLED` to `false` in the .env fil

[2021-09-08 17:18] qschmick commented on #301
@s1rc New release with update from @o-kima  https://github.com/codestudiohq/laravel-totem/releases/tag/v8.3.0

[2021-09-08 17:18] #301 closed, assigned to nobody

[2021-09-08 17:19] qschmick commented on #286
@KrystianZareba @marcoocram @hanmuja-juango @hihuangwei @aberaldo DBAL 3.x in release: https://github.com/codestudiohq/laravel-totem/releases/tag/v8.3.0

[2021-09-08 17:19] #286 closed, assigned to nobody

[2021-09-08 18:00] o-kima commented on #300
@locnguyen1842 Does PR https://github.com/codestudiohq/laravel-totem/pull/302 help you?

it's just merged to v8.3

[2021-09-09 05:53] locnguyen1842 commented on #300
@o-kima yes, it did. Thanks for reminding me.

[2021-09-09 05:53] #300 closed, assigned to nobody

[2021-09-09 19:47] s1rc commented on #301
@qschmick thank you!

Testing this out, I see the Redis cache hits on every request. This is more ideal than querying the DB, is there a way to register the task in only the console kernel?

[2021-09-09 22:00] o-kima commented on #301
Please add more details like what cache key it search and where it occurs in the flow.
I just retested it in my app, listening to CacheHit|CacheMissed, no requests found in HTTP kernel.

Fixed at commit https://github.com/codestudiohq/laravel-totem/pull/299/commits/65c8e3d3e6eb2cf22c267f2388755ae587f709da

[2021-09-10 15:52] s1rc commented on #301
Looking at Telescope, even on requests with no queries aside from session these are run:
* `get app_cache:totem.tasks.active`
* `get app_cache:totem.table.totem_tasks`

Edit: I added a listener to `EventServiceProvider` for `Illuminate\Cache\Events\CacheHit` in case Telescope was mis-reporting. Both those are returning hits from every request.

[2021-09-11 11:46] Nino1976 opened #304 "Route totem.task.execute is outside the middleware (auth)"
After adding [**Totem::auth() ...**] to [**AppServiceProvider**], the route [**totem.task.execute**] has no authentication. Is that correct? All other totem routes correctly return 403, if the user is not logged in or has no rights or no authorization.

best regards, nino

[2021-09-28 18:16] cyruscollier opened #305 "TotemServiceProvider should not make database connection check during register()"
https://github.com/codestudiohq/laravel-totem/blob/8.0/src/Providers/TotemServiceProvider.php#L57

[code]

This forces a database connection check during the Laravel bootstrapping process, which affects package discovery, composer install, all artisan commands, etc. This in turn breaks the application when attempting to do things like run composer or artisan commands while not in a real environmen

[2021-09-29 09:52] pengan95 commented on #177
this problem still exist in laravel 8.*

[2021-10-20 02:36] #280 closed, assigned to nobody

[2021-10-29 15:20] tiagofranco86 opened #306 "Error task synchronization with sqlserver"
I'm implementing a cron for synchronization between bases. When I'm going to link the new frequencies it's giving an error in the trait hasParameter because it doesn't contain interaction with the request according to the print. With a simple if of empty date I think it would solve
![Captura de tela de 2021-10-29 12-19-06](https://user-images.githubusercontent.com/31907788/139460720-2437ad13-db9c-

[2021-11-02 16:10] oliworx opened #307 "Can't Pass Single Command Parameter Without a name"
this one is similar to https://github.com/codestudiohq/laravel-totem/issues/48 but different.

I have a command that takes the ID of a model as a parameter:

`$signature = 'team:matomo:setup {teamId}'`

when I create a Task in Totem with just an integer as a parameter, and execute the task, the command complains that the parameter is missing.

running the same command in a terminal or in the unit

[2021-11-04 11:43] qschmick commented on #307
@oliworx Just to be clear, the command works fine when it runs on a schedule but fails when you click the checkmark on the main screen or the manual execute button on the task view screen?

[2021-11-04 11:43] qschmick commented on #303
@oliworx Apologies for the late response. Totem is broadcasting the entire output from your command. It would appear your command is just outputting a large payload which exceeds pushers limits.

Open to suggestions on expected behavior in a situations like this. My thoughts would be to add a config option to exclude command output in broadcast payloads.

[2021-11-04 21:22] oliworx commented on #307
I did not try to run the command on schedule. I just wantet to run the command once via the execute button.

[2021-11-05 03:48] tiagofranco86 commented on #306
another thing, would it be possible to identify when it was the sql server to enable the insert with pk?

[2021-11-09 18:49] gam5583 commented on #177
I have the same problem. Help!

[2021-11-15 08:52] LaraPhp83 opened #308 "Cron"
how do i set the cron on the server in my plesk panel?

[2021-11-15 13:48] qschmick commented on #308
https://www.google.com/search?q=plesk+panel+cron+jobs&oq=plesk+panel+cron

https://support.plesk.com/hc/en-us/articles/115003121073-How-to-add-a-scheduled-task-in-Plesk-UI-using-crontab-syntax-

[2021-11-15 13:48] #308 closed, assigned to nobody

[2021-11-18 09:53] usernotnull opened #309 "N+1 problem"
I have Model::preventLazyLoading(app()->isLocal()); in my service provider to avoid n+1 issues.

When entering totem dashboard, I get

```Attempted to lazy load [frequencies] on model [Studio\Totem\Task] but lazy loading is disabled. (View: /home/john/Sites/marvelcoding.com/vendor/studio/laravel-totem/resources/views/tasks/index.blade.php)```

I can temporarily get around it by commenting out prev

[2021-11-18 10:42] #304 closed, assigned to nobody

[2021-11-19 13:16] qschmick commented on #309
@usernotnull I don't have time immediately to tackle this, but if you're willing to open a PR we'd be happy to review and get a new version released. Otherwise we might get this fixed by EOY or early January

[2021-11-19 13:29] usernotnull commented on #309
Alright. I have to finish a project first. If this wasn't resolved by January I'll give it a go.
Thanks.

[2021-11-22 10:47] affektde commented on #307
Did you use the following syntax in the create task view?

eg.

` teamId=1` as optional parameter

Because you've said "without a name", but the name would be `teamId`.

[2021-11-29 16:56] cyruscollier commented on #305
Any response to this?

[2021-12-23 13:18] tiagofranco86 commented on #306
Hello, I hadn't seen it before but I saw that there is the functionality to export a json to import into another environment, but this IDENTITY_INSERT error also occurs.

Could you check?

[2022-01-03 10:53] marcelohcortez opened #311 "Forbidden error on PREPROD environment"
So I can run Totem correctly on my local environment, but we need it to work in our PREPROD environment.
I added a Middleware to check if the user is an admin or super-admin.
If not, the user is redirected to the home, if so, the Totem dashboard is shown.
It works as expected locally, but once in PREPROD I keep getting a 403 error if I'm logged as admin (or super-admin).
If I'm not logged or if I'

[2022-01-10 14:03] #303 closed, assigned to nobody

[2022-01-27 00:48] #309 closed, assigned to nobody

[2022-01-29 23:32] #307 closed, assigned to nobody

[2022-01-30 06:12] jacktran commented on #304
@Nino1976 any solution for this issue ?
i think this's security issue
seem like it's missing parent::__contruct() in https://github.com/codestudiohq/laravel-totem/blob/8.0/src/Http/Controllers/ExecuteTasksController.php
![image](https://user-images.githubusercontent.com/8914866/151688872-05599d54-7a4c-418c-b385-039f7af71aed.png)

[2022-01-31 01:19] cyruscollier commented on #305
Any response to this?

[2022-01-31 01:26] qschmick commented on #305
@cyruscollier Feel free to open the PR

[2022-01-31 01:27] qschmick commented on #311
@marcelohcortez Did you update the AppServiceProvider? https://github.com/codestudiohq/laravel-totem#web-dashboard

[2022-01-31 01:48] cyruscollier commented on #305
Pull request submitted. Thanks!

[2022-01-31 14:35] qschmick commented on #304
@jacktran @Nino1976 Yes, looks like there is a missing call to parent __construct. Can either of you open a PR

[2022-02-01 18:07] #305 closed, assigned to nobody

[2022-02-04 17:37] dyanakiev opened #313 "Laravel 9 support?"
Hello,
Is there some incopatability with laravel 9?

[2022-02-13 15:29] jacktran commented on #304
hi @qschmick i don't have permission to create PR
![image](https://user-images.githubusercontent.com/8914866/153760361-2adc123f-5578-4485-9365-5eba46172566.png)
Or can you please help to create PR for it ?

[2022-02-14 19:47] qschmick commented on #304
@jacktran You can fork and open the PR from there pointing at this repo

[2022-02-22 17:31] shijie1991 commented on #313
+1

[2022-02-22 19:13] qschmick commented on #313
@dyanakiev @shijie1991 Working on it https://github.com/codestudiohq/laravel-totem/pull/314

[2022-02-24 04:52] qschmick commented on #309
Thanks @locnguyen1842

FYI @usernotnull -> https://github.com/codestudiohq/laravel-totem/releases/tag/v8.3.2

[2022-03-06 03:09] #306 closed, assigned to nobody

[2022-03-15 15:28] Situ314 opened #321 "Running out of memory in AVG RUN TIME"
I'm having trouble trying to access the page to view/edit some of my Tasks. The message "Allowed memory size of 268435456 bytes exhausted" occurs specifically in the AVG RUN TIME, one of these tasks in which I have problems has 30 task_results, but the duration is 6 digits for each.

Is there something I can do from my side?

I am using Laravel 8, and Totem 8.2.0. I'm not sure I can update it, or

[2022-03-15 15:30] qschmick commented on #321
@Situ314 This was fixed/optimized in https://github.com/codestudiohq/laravel-totem/releases/tag/v8.3.3

[2022-03-15 15:30] #321 closed, assigned to nobody

[2022-03-21 15:40] TelMercher opened #323 "Column not found: 1054 Unknown column 'run_in_background'"
Hi,
when i try to save a task i have this error: Column not found: 1054 Unknown column 'run_in_background' in 'field list' (SQL: insert into `totem_tasks` [...])

Did anyone have the same error?

[2022-03-22 01:14] qschmick commented on #323
@TelMercher
1. Which version of Totem are you running?
2. Have you run `php artisan migrate` to ensure the DB is up to date?

[2022-03-22 07:00] TelMercher commented on #323
Ver. 8.4.
Yes, i did. I have checked in migrations and the column is not there.

[2022-03-22 15:16] qschmick commented on #323
@TelMercher Please verify that this migration has run in you system: https://github.com/codestudiohq/laravel-totem/blob/8.0/database/migrations/2020_12_10_120000_alter_tasks_table_add_run_in_background_support.php

This has existed for over a year.

[2022-03-22 15:35] TelMercher commented on #323
I have checked but that migration is not present. I don't understand what happened.

[2022-03-24 13:50] miguelfspinto commented on #313
+1

[2022-04-14 16:05] #311 closed, assigned to nobody

[2022-04-19 02:30] qschmick commented on #323
@TelMercher Sounds like the migration just needs to be run. If you run `php artisan migrate` does it state that there are no migrations to run? If that migration doesn't exist in your `migrations` table and it isn't running it sounds like there might be a problem with your setup.

1. Do you have `vendor/` committed or is it created/installed on deployment?
1. What about in your local environment?

[2022-05-11 21:27] javis commented on #313
+1

[2022-05-18 07:14] deniskd opened #331 "Task type "Expression" not working properly"
In new task configuration, when custom cron expression is filled, tasks are not working properly.
![image (2)](https://user-images.githubusercontent.com/8309074/168979360-a3434e84-ad3a-4a62-a324-d73a1c18181c.png)
For example, if cron is set to run at 14:00, then it is started every minute.

[2022-05-26 15:34] njwela opened #332 "Schedule List"
The schedule list shows up on my dashboard but when i run php artisan schedule:list, nothing is being returned. am running my application on Heroku. The same command is working fine on localhost. And also, the scheduled commands are not being run

[2022-06-27 13:03] danielpetrica commented on #332
I got the same issue  on a normal server, for me what solved the issue was to run a `php artisan config:clear `

[2022-06-29 14:51] qschmick commented on #313
https://github.com/codestudiohq/laravel-totem/releases/tag/v9.0.0

[2022-06-29 14:51] #313 closed, assigned to nobody

[2022-07-10 02:35] #323 closed, assigned to nobody

[2022-07-28 13:13] tiagorodriguesnes opened #334 "Migration error v4.0"
2018_07_06_165603_add_indexes_for_tasks.php on branch 4.0 should drop fk `task_id_fk` instead of `task_results_task_id_fk` on line 53 causing the rollback to fail.

[2022-08-01 13:13] mgip opened #336 "Config file missing."
Any artisan command to publish totem.php config file?

Thanks

[2022-08-01 14:26] qschmick commented on #336
You can run `php artisan vendor:publish` and choose any of the vendor assets to publish for your different composer dependencies. You can also run this explicit command to just publish the config files for Totem
 `php artisan vendor:publish --tag=totem-config`

[2022-08-01 14:26] #336 closed, assigned to nobody

[2022-08-01 14:27] qschmick commented on #334
@2092015 Any chance you can open a PR to fix the issue?

[2022-08-01 14:55] mgip commented on #336
I thought that it only works with specific packages, but you have taught me that it can work with any.

thanks so much @qschmick . I appreciate it

[2022-08-02 08:53] tiagorodriguesnes commented on #334
Sure

[2022-08-03 08:23] tiagorodriguesnes commented on #334
https://github.com/codestudiohq/laravel-totem/pull/337
Resolved here

[2022-08-05 13:04] kusnir opened #338 "Incorrect status load"
When you go to details of disabled task the status is "Enabled" (it should by "Disabled"). When you want to switch to "Enabled", you need to click two times to the button.

[2022-08-05 13:05] kusnir opened #339 "Missing Cancel button in edit mode"
When you edit existing task the "Cancel" button is missing. There is only "Save" button.

[2022-08-12 05:07] #331 closed, assigned to nobody

[2022-08-19 10:53] rushughes opened #340 "Typed static property Studio\Totem\Totem::$authUsing must not be accessed before initialization"
I've installed totem in to an existing project. Upon browing to /totem/ I get the following error:

`Typed static property Studio\Totem\Totem::$authUsing must not be accessed before initialization`

Stack trace etc is here https://flareapp.io/share/dmkY3zb7#F54

[2022-08-19 11:19] rushughes commented on #340
looks like i hadnt followed the instructions properly to install :)

adding Totem::auth to my AppServiceProvider.php solved this, thanks

[code]

[2022-08-19 11:19] #340 closed, assigned to nobody

[2022-08-30 11:09] mgip opened #341 "Try to implement for multiple laravel instance but same database"
Hello

I Try to implement for multiple laravel instance but same database, but when i disable in Intance #1 and tun artisan schedule:list has diferent result with the other laravel instance.

Is anyway to adapt to multiple instance

Other thing, i am looking the task_result on database, but show all task result is_active=0 include.. ¿why?

Thanks

[2022-08-30 14:37] qschmick commented on #341
@mgip As the current implementation of Totem leverages a single database table it will not support this type of functionality. Each "instance" of your application is seen as the same because they are all pointing at the same DB.

Not sure how you are differentiating your instances for things like users and such.

If you want to put together a proposal for implementing this we'd be happy to review

[2022-08-30 15:11] mgip commented on #341
Helloo

In fact i did, i just add a field on all tables "id_app", and in all insert and select routines the where sentence like

    ->where(['id_app'] => env('ID_APP'))

it's work, and add on AppServiceProvider some update of scheduler... like

    $task = (new EloquentTaskRepository())->check();

And on EloquentTaskRepository.php

    public function check()
    {
        $task = Task::query()->

[2022-08-31 10:23] mgip commented on #177
i have the same problem

[2022-09-12 13:34] kusnir commented on #338
It is working correctly in 9.0.0.

[2022-09-12 13:34] #338 closed, assigned to nobody

[2022-09-13 07:35] kusnir opened #342 "Global task routing"
If an existing application use another task binding (to different model), the TotemRouteServiceProvider::boot() will changed it and can't by used in the application (because it is defined globally). I would like to ask, if the method TotemRouteServiceProvider::boot() can by changed/removed. I found only one place ExecuteTasksController::index($task) where (probably) should by defined Task type: in

[2022-09-13 07:39] kusnir opened #343 "Delete task without confirmation"
When you accidently click on delete button, the task will be deleted. Could you please add confirmation question before task deleting?

[2022-09-13 07:44] kusnir opened #344 "Showing full description"
The task description can have 255 characters in DB but there is only 29 characters in /totem/tasks. Could you please show full description or add full description to "title" attribute of "a" HTML tag?

[2022-09-20 12:00] klytron opened #345 "Add Telegram notifications"
In addition to slack, email and sms notifications, please add telegram notifications too.

[2022-09-20 12:20] klytron opened #346 "Add ability to schedule server commands instead of artisan"
for example to schedule the command:

`whoami`

to run on the server.

[2022-09-22 13:02] paulrrogers commented on #346
This may be out of scope. Though you could wrap shell commands in your own Artisan command.

[2022-09-22 15:32] klytron commented on #177
having the same problem, using laravel 8.*

[2022-09-25 11:39] UtkuDalmaz opened #347 "Issues I am having after installation"
I installed and configured totem as written.

I have some issues;

1- I can't see the current schedule list (as listed on Kernel.php in Console folder) on the admin dashboard tasks page. However, I can see them when I execute "php artisan schedule:list"

2- I added a task manually from admin dashboard, when I execute that task I get those errors (I use AWS SQS as queue)

`Error: The script tried t

[2022-09-30 22:20] #332 closed, assigned to nobody

[2022-10-17 01:18] #334 closed, assigned to nobody

[2022-11-11 05:27] winkcler opened #352 "Duration Problem"
Greetings devs.

Can anyone tell me if they're having the same problem with zero duration in Laravel 9?

![image](https://user-images.githubusercontent.com/4259380/201269748-9266a08f-5236-464d-9f5c-8b01628833c3.png)